{assign var='option_tpl' value=OvicLayoutControl::getTemplateFile('blockcart.tpl', 'blockcart')}
{if  $option_tpl!== null}
    {include file=$option_tpl}
{else}
    <!-- Block cart -->
    {if isset($blockcart_top) && $blockcart_top}
    <div class="cart-search col-md-2 {if $PS_CATALOG_MODE} header_user_catalog{/if}">
    {/if} 
        <div class="icon-search">
            <span class="icon"><i class="fa fa-search"></i></span>
        </div>
    	<div class="shopping_cart mini-cart">
    		<a class="icon" href="{$link->getPageLink($order_process, true)|escape:'html':'UTF-8'}" title="{l s='View my shopping cart' mod='blockcart'}" rel="nofollow">
    			{l s='Cart' mod='blockcart'}
    			<span class="count ajax_cart_quantity{if $cart_qties == 0} unvisible{/if}">{$cart_qties}</span>
    			<span class="count ajax_cart_no_product{if $cart_qties > 0} unvisible{/if}">{l s='0' mod='blockcart'}</span>
    			{if $ajax_allowed && isset($blockcart_top) && !$blockcart_top}
    				<span class="block_cart_expand{if !isset($colapseExpandStatus) || (isset($colapseExpandStatus) && $colapseExpandStatus eq 'expanded')} unvisible{/if}">&nbsp;</span>
    				<span class="block_cart_collapse{if isset($colapseExpandStatus) && $colapseExpandStatus eq 'collapsed'} unvisible{/if}">&nbsp;</span>
    			{/if}
    		</a>
    		{if !$PS_CATALOG_MODE} 
    			<div class="cart_block">
    				<div class="mini-cart-content">
    					<!-- block list of products -->
    					<div class="cart_block_list{if isset($blockcart_top) && !$blockcart_top}{if isset($colapseExpandStatus) && $colapseExpandStatus eq 'expanded' || !$ajax_allowed || !isset($colapseExpandStatus)} expanded{else} collapsed unvisible{/if}{/if}">
    						{if $products}
    							<dl class="products list-cart-product">
    								{foreach from=$products item='product' name='myLoop'}
    									{assign var='productId' value=$product.id_product}
    									{assign var='productAttributeId' value=$product.id_product_attribute}
    									<dt data-id="cart_block_product_{$product.id_product|intval}_{if $product.id_product_attribute}{$product.id_product_attribute|intval}{else}0{/if}_{if $product.id_address_delivery}{$product.id_address_delivery|intval}{else}0{/if}" class="{if $smarty.foreach.myLoop.first}first_item{elseif $smarty.foreach.myLoop.last}last_item{else}item{/if}">
    								        <div class="product-thumb">
                                                <a href="{$link->getProductLink($product.id_product, $product.link_rewrite, $product.category)|escape:'html':'UTF-8'}" title="{$product.name|escape:'html':'UTF-8'}"><img src="{$link->getImageLink($product.link_rewrite, $product.id_image, 'cart_default')}" alt="{$product.name|escape:'html':'UTF-8'}" /></a>
                                            </div>
    										<div class="product-info">
    											<h5 class="product-name">
                                                    <a class="cart_block_product_name" href="{$link->getProductLink($product, $product.link_rewrite, $product.category, null, null, $product.id_shop, $product.id_product_attribute)|escape:'html':'UTF-8'}" title="{$product.name|escape:'html':'UTF-8'}">{$product.name|truncate:13:'...'|escape:'html':'UTF-8'}</a>
    											</h5>  
    											{if isset($product.attributes_small)}
    												<div class="product-atributes hidden">
    													<a href="{$link->getProductLink($product, $product.link_rewrite, $product.category, null, null, $product.id_shop, $product.id_product_attribute)|escape:'html':'UTF-8'}" title="{l s='Product detail' mod='blockcart'}">{$product.attributes_small}</a>
    												</div>
    											{/if}
    											<span class="price">
    												{if !isset($product.is_gift) || !$product.is_gift}
    													{if $priceDisplay == $smarty.const.PS_TAX_EXC}{displayWtPrice p="`$product.total`"}{else}{displayWtPrice p="`$product.total_wt`"}{/if}
                                                        <div class="hookDisplayProductPriceBlock-price">
                                                            {hook h="displayProductPriceBlock" product=$product type="price" from="blockcart"}
                                                        </div>
    												{else}
    													{l s='Free!' mod='blockcart'}
    												{/if}
    											</span>
                                                <span class="qty">{l s='Qty:' mod='blockcart'} {$product.cart_quantity} </span>
                                                {if !isset($customizedDatas.$productId.$productAttributeId) && (!isset($product.is_gift) || !$product.is_gift)}
        										  <span class="remove_link">
                                                	<a class="ajax_cart_block_remove_link remove" href="{$link->getPageLink('cart', true, NULL, "delete=1&id_product={$product.id_product|intval}&ipa={$product.id_product_attribute|intval}&id_address_delivery={$product.id_address_delivery|intval}&token={$static_token}")|escape:'html':'UTF-8'}" rel="nofollow" title="{l s='remove this product from my cart' mod='blockcart'}">&nbsp;</a>
                                                  </span>
        										{/if} 
    										</div> 
    										 
    									</dt>
    									
                                        {if isset($product.attributes_small)}
    										<dd data-id="cart_block_combination_of_{$product.id_product|intval}{if $product.id_product_attribute}_{$product.id_product_attribute|intval}{/if}_{$product.id_address_delivery|intval}" class="{if $smarty.foreach.myLoop.first}first_item{elseif $smarty.foreach.myLoop.last}last_item{else}item{/if} hidden">
    									{/if} 
    									<!-- Customizable datas -->
    									{if isset($customizedDatas.$productId.$productAttributeId[$product.id_address_delivery])}
    										{if !isset($product.attributes_small)}
    											<dd data-id="cart_block_combination_of_{$product.id_product|intval}_{if $product.id_product_attribute}{$product.id_product_attribute|intval}{else}0{/if}_{if $product.id_address_delivery}{$product.id_address_delivery|intval}{else}0{/if}" class="{if $smarty.foreach.myLoop.first}first_item{elseif $smarty.foreach.myLoop.last}last_item{else}item{/if} hidden">
    										{/if}
    										<ul class="cart_block_customizations hidden" data-id="customization_{$productId}_{$productAttributeId}">
    											{foreach from=$customizedDatas.$productId.$productAttributeId[$product.id_address_delivery] key='id_customization' item='customization' name='customizations'}
    												<li name="customization">
    													<div data-id="deleteCustomizableProduct_{$id_customization|intval}_{$product.id_product|intval}_{$product.id_product_attribute|intval}_{$product.id_address_delivery|intval}" class="deleteCustomizableProduct">
    														<a class="ajax_cart_block_remove_link" href="{$link->getPageLink('cart', true, NULL, "delete=1&id_product={$product.id_product|intval}&ipa={$product.id_product_attribute|intval}&id_customization={$id_customization|intval}&token={$static_token}")|escape:'html':'UTF-8'}" rel="nofollow">&nbsp;</a>
    													</div>
    													{if isset($customization.datas.$CUSTOMIZE_TEXTFIELD.0)}
    														{$customization.datas.$CUSTOMIZE_TEXTFIELD.0.value|replace:"<br />":" "|truncate:28:'...'|escape:'html':'UTF-8'}
    													{else}
    														{l s='Customization #%d:' sprintf=$id_customization|intval mod='blockcart'}
    													{/if}
    												</li>
    											{/foreach}
    										</ul>
    										{if !isset($product.attributes_small)}</dd>{/if}
    									{/if}
    									{if isset($product.attributes_small)}</dd>{/if} 
                                        
    								{/foreach}
    							</dl>
    						{/if}
    						<ul class="cart_block_no_products cart_block_list{if $products} unvisible{/if}">
    							<li>{l s='No products' mod='blockcart'}</li>
    						</ul>
    						{if $discounts|@count > 0}
    							<table class="vouchers{if $discounts|@count == 0} unvisible{/if}">
    								{foreach from=$discounts item=discount}
    									{if $discount.value_real > 0}
    										<tr class="bloc_cart_voucher" data-id="bloc_cart_voucher_{$discount.id_discount|intval}">
    											<td class="quantity">1x</td>
    											<td class="name" title="{$discount.description}">
    												{$discount.name|truncate:18:'...'|escape:'html':'UTF-8'}
    											</td>
    											<td class="price">
    												-{if $priceDisplay == 1}{convertPrice price=$discount.value_tax_exc}{else}{convertPrice price=$discount.value_real}{/if}
    											</td>
    											<td class="delete">
    												{if strlen($discount.code)}
    													<a class="delete_voucher" href="{$link->getPageLink("$order_process", true)}?deleteDiscount={$discount.id_discount|intval}" title="{l s='Delete' mod='blockcart'}" rel="nofollow">
    														<i class="icon-remove-sign"></i>
    													</a>
    												{/if}
    											</td>
    										</tr>
    									{/if}
    								{/foreach}
    							</table>
    						{/if}
    						{assign var='free_ship' value=count($cart->getDeliveryAddressesWithoutCarriers(true, $errors))}
    						<div class="cart-prices">
    							<p class="cart-prices-line sub-toal-wapper">
    								<span class="price cart_block_shipping_cost ajax_cart_shipping_cost{if !($page_name == 'order-opc') && $shipping_cost_float == 0 && (!$cart_qties || $cart->isVirtualCart() || !isset($cart->id_address_delivery) || !$cart->id_address_delivery || $free_ship)} unvisible{/if}">
    									{if $shipping_cost_float == 0}
    										 {if !($page_name == 'order-opc') && (!isset($cart->id_address_delivery) || !$cart->id_address_delivery)}{l s='To be determined' mod='blockcart'}{else}{l s='Free shipping!' mod='blockcart'}{/if}
    									{else}
    										{$shipping_cost}
    									{/if}
    								</span> 
                                    <span class="sub-toal {if !($page_name == 'order-opc') && $shipping_cost_float == 0 && (!$cart_qties || $cart->isVirtualCart() || !isset($cart->id_address_delivery) || !$cart->id_address_delivery || $free_ship)} unvisible{/if}">
    									{l s='Shipping' mod='blockcart'}
    								</span> 
    							</p>
    							{if $show_wrapping}
    								<p class="cart-prices-line sub-toal-wapper">
    									{assign var='cart_flag' value='Cart::ONLY_WRAPPING'|constant}
    									<span class="sub-toal">
    										{l s='Wrapping' mod='blockcart'}
    									</span>
                                        <span class="price cart_block_wrapping_cost">
    										{if $priceDisplay == 1}
    											{convertPrice price=$cart->getOrderTotal(false, $cart_flag)}{else}{convertPrice price=$cart->getOrderTotal(true, $cart_flag)}
    										{/if}
    									</span> 
    							   </p>
    							{/if}
    							{if $show_tax && isset($tax_cost)}
    								<p class="cart-prices-line sub-toal-wapper">
    									<span class="sub-toal">{l s='Tax' mod='blockcart'}</span>
                                        <span class="price cart_block_tax_cost ajax_cart_tax_cost">{$tax_cost}</span>
    								</p>
    							{/if}
    							<p class="cart-prices-line sub-toal-wapper">
    								<span class="sub-toal">{l s='Total' mod='blockcart'}</span>
                                    <span class="price cart_block_total ajax_block_cart_total">{$total}</span>
    							</p>
    							{if $use_taxes && $display_tax_label && $show_tax}
    								<p>
    								{if $priceDisplay == 0}
    									{l s='Prices are tax included' mod='blockcart'}
    								{elseif $priceDisplay == 1}
    									{l s='Prices are tax excluded' mod='blockcart'}
    								{/if}
    								</p>
    							{/if}
    						</div>
    						<div class="cart-buttons">
                                <a class="btn-view-cart" href="{$link->getPageLink("$order_process", true)|escape:"html":"UTF-8"}" title="{l s='Check out' mod='blockcart'}" rel="nofollow">
    								{l s='VIEW SHOPPING CART' mod='blockcart'} 
    							</a>
    							<a id="button_order_cart" class="btn-check-out" href="{$link->getPageLink("$order_process", true)|escape:"html":"UTF-8"}" title="{l s='Check out' mod='blockcart'}" rel="nofollow">
    								{l s='PROCESS TO CHECK OUT' mod='blockcart'} 
    							</a> 
    						</div>
    					</div>
    				</div>
    			</div><!-- .cart_block --> 
    		{/if}
    	</div> 
    {if isset($blockcart_top) && $blockcart_top}
    </div>
    {/if}
    {counter name=active_overlay assign=active_overlay}
    {if !$PS_CATALOG_MODE && $active_overlay == 1}
    	<div id="layer_cart">
        <div class="popup-add-to-cart">
    		<div class="clearfix">
                <div class="message">          
                    <i class="fa fa-check-circle-o"></i>          
                    <p>{l s='YOU HAVE ADDED TO SHOPPING CART' mod='blockcart'}</p>      
                </div>
                <div class="popup-product">
    			<div class="layer_cart_product col-xs-12 col-md-12">
    				<span class="cross" title="{l s='Close window' mod='blockcart'}"></span>
    				<span class="title hidden">
    					<i class="icon-check"></i>{l s='Product successfully added to your shopping cart' mod='blockcart'}
    				</span>
    				<div class="product-image-container layer_cart_img">
    				</div>
    				<div class="layer_cart_product_info">
    					<span id="layer_cart_product_title" class="product-name"></span>
    					<span id="layer_cart_product_attributes hidden"></span>
    					<div class=" hidden">
    						<strong class="dark">{l s='Quantity' mod='blockcart'}</strong>
    						<span id="layer_cart_product_quantity"></span>
    					</div>
    					<div class=" hidden">
    						<strong class="dark">{l s='Total' mod='blockcart'}</strong>
    						<span id="layer_cart_product_price"></span>
    					</div>
    				</div>
    			</div>
    			<div class="layer_cart_cart col-xs-12 col-md-12">
    				<span class="title hidden">
    					<!-- Plural Case [both cases are needed because page may be updated in Javascript] -->
    					<span class=" hidden ajax_cart_product_txt_s {if $cart_qties < 2} unvisible{/if}">
    						{l s='There are [1]%d[/1] items in your cart.' mod='blockcart' sprintf=[$cart_qties] tags=['<span class="ajax_cart_quantity">']}
    					</span>
    					<!-- Singular Case [both cases are needed because page may be updated in Javascript] -->
    					<span class=" hidden ajax_cart_product_txt {if $cart_qties > 1} unvisible{/if}">
    						{l s='There is 1 item in your cart.' mod='blockcart'}
    					</span>
    				</span>
    				<div class="layer_cart_row  hidden">
    					<strong class="dark">
    						{l s='Total products' mod='blockcart'}
    						{if $use_taxes && $display_tax_label && $show_tax}
    							{if $priceDisplay == 1}
    								{l s='(tax excl.)' mod='blockcart'}
    							{else}
    								{l s='(tax incl.)' mod='blockcart'}
    							{/if}
    						{/if}
    					</strong>
    					<span class="ajax_block_products_total">
    						{if $cart_qties > 0}
    							{convertPrice price=$cart->getOrderTotal(false, Cart::ONLY_PRODUCTS)}
    						{/if}
    					</span>
    				</div>
    
    				{if $show_wrapping}
    					<div class="layer_cart_row  hidden">
    						<strong class="dark">
    							{l s='Wrapping' mod='blockcart'}
    							{if $use_taxes && $display_tax_label && $show_tax}
    								{if $priceDisplay == 1}
    									{l s='(tax excl.)' mod='blockcart'}
    								{else}
    									{l s='(tax incl.)' mod='blockcart'}
    								{/if}
    							{/if}
    						</strong>
    						<span class="price cart_block_wrapping_cost">
    							{if $priceDisplay == 1}
    								{convertPrice price=$cart->getOrderTotal(false, Cart::ONLY_WRAPPING)}
    							{else}
    								{convertPrice price=$cart->getOrderTotal(true, Cart::ONLY_WRAPPING)}
    							{/if}
    						</span>
    					</div>
    				{/if}
    				<div class="layer_cart_row  hidden">
    					<strong class="dark{if $shipping_cost_float == 0 && (!$cart_qties || $cart->isVirtualCart() || !isset($cart->id_address_delivery) || !$cart->id_address_delivery)} unvisible{/if}">
    						{l s='Total shipping' mod='blockcart'}&nbsp;{if $use_taxes && $display_tax_label && $show_tax}{if $priceDisplay == 1}{l s='(tax excl.)' mod='blockcart'}{else}{l s='(tax incl.)' mod='blockcart'}{/if}{/if}
    					</strong>
    					<span class="ajax_cart_shipping_cost{if $shipping_cost_float == 0 && (!$cart_qties || $cart->isVirtualCart() || !isset($cart->id_address_delivery) || !$cart->id_address_delivery)} unvisible{/if}">
    						{if $shipping_cost_float == 0}
    							 {if (!isset($cart->id_address_delivery) || !$cart->id_address_delivery)}{l s='To be determined' mod='blockcart'}{else}{l s='Free shipping!' mod='blockcart'}{/if}
    						{else}
    							{$shipping_cost}
    						{/if}
    					</span>
    				</div>
    				{if $show_tax && isset($tax_cost)}
    					<div class="layer_cart_row  hidden">
    						<strong class="dark">{l s='Tax' mod='blockcart'}</strong>
    						<span class="price cart_block_tax_cost ajax_cart_tax_cost">{$tax_cost}</span>
    					</div>
    				{/if}
    				<div class="layer_cart_row  hidden">
    					<strong class="dark">
    						{l s='Total' mod='blockcart'}
    						{if $use_taxes && $display_tax_label && $show_tax}
    							{if $priceDisplay == 1}
    								{l s='(tax excl.)' mod='blockcart'}
    							{else}
    								{l s='(tax incl.)' mod='blockcart'}
    							{/if}
    						{/if}
    					</strong>
    					<span class="ajax_block_cart_total">
    						{if $cart_qties > 0}
    							{if $priceDisplay == 1}
    								{convertPrice price=$cart->getOrderTotal(false)}
    							{else}
    								{convertPrice price=$cart->getOrderTotal(true)}
    							{/if}
    						{/if}
    					</span>
    				</div>
    				<div class="button-container ">
    					<a class="button button-continue-shop"	href="{$link->getPageLink("$order_process", true)|escape:"html":"UTF-8"}" title="{l s='Proceed to checkout' mod='blockcart'}" rel="nofollow">
    							{l s='VIEW SHOPPING CART' mod='blockcart'}
    					</a>
                        <span class="continue button button-view-cart" title="{l s='Continue shopping' mod='blockcart'}">
    							{l s='CONTINUE SHOPPING' mod='blockcart'}
    					</span>
    				</div>
    			</div>
                </div>
    		</div>
    		<div class="crossseling"></div>
        </div><!--#popup-add-to-cart-->
    	</div> <!-- #layer_cart -->
    	<div class="layer_cart_overlay"></div>
    {/if}
{/if}
{strip}
{addJsDef CUSTOMIZE_TEXTFIELD=$CUSTOMIZE_TEXTFIELD}
{addJsDef img_dir=$img_dir|escape:'quotes':'UTF-8'}
{addJsDef generated_date=$smarty.now|intval}
{addJsDef ajax_allowed=$ajax_allowed|boolval}
{addJsDef hasDeliveryAddress=(isset($cart->id_address_delivery) && $cart->id_address_delivery)}

{addJsDefL name=customizationIdMessage}{l s='Customization #' mod='blockcart' js=1}{/addJsDefL}
{addJsDefL name=removingLinkText}{l s='remove this product from my cart' mod='blockcart' js=1}{/addJsDefL}
{addJsDefL name=freeShippingTranslation}{l s='Free shipping!' mod='blockcart' js=1}{/addJsDefL}
{addJsDefL name=freeProductTranslation}{l s='Free!' mod='blockcart' js=1}{/addJsDefL}
{addJsDefL name=delete_txt}{l s='Delete' mod='blockcart' js=1}{/addJsDefL}
{addJsDefL name=toBeDetermined}{l s='To be determined' mod='blockcart' js=1}{/addJsDefL}
{/strip}
<!-- /Block cart -->
