/* MENU CONFIGURATION

**********************************************************/

.ownmenu {

	width: 100%;

	padding: 0;

	margin: 0;

	position: relative;

	float: left;

	list-style: none;

}

.ownmenu li {

	display: inline-block;

	float: left;

}

.ownmenu a {

	-o-transition: all .3s linear;

	-webkit-transition: all .3s linear;

	-moz-transition: all .3s linear;

	transition: all .3s linear;

	outline: none;

	z-index: 10;

}

.ownmenu li {

}

/* DROPDOWN CONFIGURATION

**********************************************************/

.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {

	list-style: none;

	margin: 0;

	padding: 0;

	display: none;

	position: absolute;

	z-index: 99;

	padding-left: 0px;

	width: 250px;

	background: none;

}

.ownmenu ul.dropdown li ul.dropdown {

	left: 100%;

	top: inherit;

	background: #272727;

}

header nav .ownmenu ul.dropdown .indicator {

	display: block;

	left: -15px;

	margin-left: 0px;

}

.ownmenu ul.dropdown li {

	clear: both;

	width: 100%;

}

.ownmenu ul.dropdown li a {

	width: 100%;

	padding: 12px 24px 12px;

	display: inline-block;

	float: left;

	clear: both;

	text-decoration: none;

	color: #999;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

}

.ownmenu ul.dropdown li:hover > a {

	color: #fff !important;

}

/* dropdowns to left side */

.ownmenu ul.dropdown li ul.dropdown.left {

	left: auto;

	right: 100%;

}

/* SUBMENU INDICATORS

**********************************************************/

.ownmenu .indicator {

	position: relative;

	right: 5px;

	font-size: 14px;

	float: right;

}

.ownmenu ul li .indicator {

	font-size: 12px;

	top: 1px;

	left: 10px;

}

.ownmenu ul.dropdown {

	top: 54px;

}

.ownmenu > li > .megamenu {

	top: 54px;

}

/* MEGAMENU

**********************************************************/

.ownmenu > li > .megamenu {

	position: absolute;

	display: none;

	background: #fff;

	width: 25%;

	font-size: 12px;

	color: #999;

	z-index: 99;

	padding: 0 0px;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

/* megamenu list */

.ownmenu li > .megamenu ul {

	margin: 0px;

	float: left;

	padding: 0;

	display: block;

	position: relative;

}

.ownmenu li > .megamenu ul li {

	width: 100%;

	padding: 0px;

}

.ownmenu li > .megamenu ul li.title {

	margin: 0 0 8px;

	padding: 0 0 5px;

	font-size: 14px;

	border-bottom: solid 1px #666;

}

/* megamenu h5 */

.ownmenu li > .megamenu h5 {

	width: 100%;

	margin: 0;

	padding: 0;

}

/* megamenu links */

.ownmenu li > .megamenu a {

	color: #999;

	text-decoration: none;

	font-size: 12px;

	-webkit-transition: color 0.3s linear;

	-moz-transition: color 0.3s linear;

	-o-transition: color 0.3s linear;

	transition: color 0.3s linear;

}

.ownmenu li > .megamenu a:hover {

	color: #dedede;

}

/* megamenu images */

.ownmenu .megamenu img {

	width: 100%;

	-webkit-transition: border 0.3s linear;

	-moz-transition: border 0.3s linear;

	-o-transition: border 0.3s linear;

	transition: border 0.3s linear;

}

/* to fix right attribute on submenus (menu aligned to left (default)) */

.ownmenu > li.fix-sub > .megamenu, .ownmenu > li.fix-sub > .megamenu.half-width, .ownmenu > li.fix-sub > .dropdown {

	right: 0;

}

/* MEGAMENU WIDTHS

**********************************************************/

.ownmenu > li > .megamenu.half-width {

	width: 50%;

}

.ownmenu > li > .megamenu.full-width {

	width: 100%;

	left: 0;

	text-align: left;

}

/* MEGAMENU FORM CONFIGURATION

**********************************************************/

.ownmenu li > .megamenu form {

	width: 100%;

}

/* megamenu inputs */

.ownmenu li > .megamenu form input[type="text"], .ownmenu li > .megamenu form textarea {

	padding: 5px;

	color: #999;

	background: #444;

	font-size: 14px;

	border: solid 1px transparent;

	outline: none;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

	-webkit-transition: border 0.3s linear;

	-moz-transition: border 0.3s linear;

	-o-transition: border 0.3s linear;

	transition: border 0.3s linear;

}

.ownmenu li > .megamenu form input[type="text"]:focus, .ownmenu li > .megamenu form textarea:focus {

	border-color: #e0e0e0;

}

.ownmenu li > .megamenu form input[type="text"] {

	width: 100%;

	margin-top: 10px;

}

.ownmenu li > .megamenu form textarea {

	width: 100%;

	margin-top: 10px;

}

.ownmenu li > .megamenu form input[type="submit"] {

	width: 25%;

	float: right;

	height: 30px;

	margin-top: 10px;

	border: none;

	cursor: pointer;

	background: #444;

	color: #777;

	-webkit-transition: background 0.3s linear;

	-moz-transition: background 0.3s linear;

	-o-transition: background 0.3s linear;

	transition: background 0.3s linear;

}

.ownmenu li > .megamenu form input[type="submit"]:hover {

	background: #e0e0e0;

	color: #555;

}

/* MEGAMENU GRID SYSTEM

**********************************************************/

.megamenu .row {

}

.megamenu .row:first-child {

	margin-top: 0;

}

.megamenu .row:before, .megamenu .row:after {

	display: table;

	content: "";

	line-height: 0;

}

.megamenu .row:after {

	clear: both;

}

.megamenu .row .col1, .megamenu .row .col2, .megamenu .row .col3, .megamenu .row .col4, .megamenu .row .col5, .megamenu .row .col6 {

	display: block;

	width: 100%;

	min-height: 20px;

	float: left;

	margin-left: 2.127659574468085%;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

.megamenu .row [class*="col"]:first-child {

	margin-left: 0;

}

.megamenu .row .col1 {

	width: 14.893617021276595%;

}

/* RIGHT ALIGNMENT (MENU ITEM)

**********************************************************/

.ownmenu > li.right {

	float: right;

}

.ownmenu > li.right > .megamenu, .ownmenu > li.right > .megamenu.half-width, .ownmenu > li.right > .dropdown {

	right: 0;

}

/* to fix right attribute on submenus (menu aligned to right) */

.ownmenu > li.jsright {

	float: right;

}

.ownmenu > li.jsright.last > .megamenu, .ownmenu > li.jsright.last > .megamenu.half-width, .ownmenu > li.jsright.last > .dropdown {

	right: 0;

}

/* ICONS (FONT AWESOME)

**********************************************************/

.ownmenu > li > a > i {

	line-height: 23px !important;

	margin-right: 6px;

	font-size: 18px;

	float: left;

}

/* COLLAPSIBLE MENU

**********************************************************/

.ownmenu > li.showhide {

	display: none;

	width: 100%;

	height: 50px;

	cursor: pointer;

	color: #999;

}

.ownmenu > li.showhide span.title {

	margin: 15px 0 0 25px;

	float: left;

}

.ownmenu > li.showhide span.icon {

	margin: 17px 20px;

	float: right;

}

.ownmenu > li.showhide .icon em {

	margin-bottom: 3px;

	display: block;

	width: 20px;

	height: 2px;

	background: #999;

}

/* RESPONSIVE LAYOUT

**********************************************************/

@media (max-width: 767px) {

.ownmenu > li {

	display: block;

	width: 100%;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

}

.ownmenu > li > a {

	padding: 15px 25px;

}

.ownmenu a {

	width: 100%;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

}

.ownmenu ul.dropdown, .ownmenu ul.dropdown li ul.dropdown {

	width: 100% !important;

	left: 0;

	position: static !important;

	border: none;

	box-sizing: border-box;

	-moz-box-sizing: border-box;

	-webkit-box-sizing: border-box;

}

.ownmenu ul.dropdown li {

	border: none;

}

.ownmenu ul.dropdown > li > a {

	padding-left: 40px !important;

}

.ownmenu > li > .megamenu {

	width: 100% !important;

	position: static;

	border-top: none;

}

.ownmenu > li > .megamenu .row [class*="col"] {

	float: none;

	display: block;

	width: 100% !important;

	margin-left: 0;

	margin-top: 15px;

	-webkit-box-sizing: border-box;

	-moz-box-sizing: border-box;

	box-sizing: border-box;

}

.ownmenu > li > .megamenu .row:first-child [class*="col"]:first-child {

	margin-top: 0;

}

.ownmenu > li > .megamenu .row {

	margin-top: 0;

}

.ownmenu > li > ul.dropdown > li > a {

	padding-left: 20px !important;

}

.ownmenu > li > ul.dropdown > li > ul.dropdown > li > a {

	padding-left: 60px !important;

}

.ownmenu > li > ul.dropdown > li > ul.dropdown > li > ul.dropdown > li > a {

	padding-left: 80px !important;

}

}

@media (min-width: 767px) and (max-width: 900px) {

.ownmenu > li > .megamenu {

	width: 100% !important;

	left: 0 !important;

}

}

/*

 * jQuery FlexSlider v2.4.0

 * http://www.woothemes.com/flexslider/

 *

 * Copyright 2012 WooThemes

 * Free to use under the GPLv2 and later license.

 * http://www.gnu.org/licenses/gpl-2.0.html

 *

 * Contributing author: Tyler Smith (@mbmufffin)

 * 

 */



/* ====================================================================================================================

 * RESETS

 * ====================================================================================================================*/

.flex-container a:hover, .flex-slider a:hover, .flex-container a:focus, .flex-slider a:focus {

	outline: none;

}

.slides, .slides > li, .flex-control-nav, .flex-direction-nav {

	margin: 0;

	padding: 0;

	list-style: none;

}

.flex-pauseplay span {

	text-transform: capitalize;

}

/* ====================================================================================================================

 * BASE STYLES

 * ====================================================================================================================*/

.flexslider {

	margin: 0;

	padding: 0;

}

.flexslider .slides > li {

	display: none;

	-webkit-backface-visibility: hidden;

}

.flexslider .slides img {

	width: 100%;

	display: block;

}

.flexslider .slides:after {

	content: "\0020";

	display: block;

	clear: both;

	visibility: hidden;

	line-height: 0;

	height: 0;

}

html[xmlns] .flexslider .slides {

	display: block;

}

* html .flexslider .slides {

	height: 1%;

}

.no-js .flexslider .slides > li:first-child {

	display: block;

}

/* ====================================================================================================================

 * DEFAULT THEME

 * ====================================================================================================================*/

.flexslider {

	margin: 0 0 60px;

	background: #ffffff;

	border: 4px solid #ffffff;

	position: relative;

	zoom: 1;

	-webkit-border-radius: 4px;

	-moz-border-radius: 4px;

	border-radius: 4px;

	-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

	-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

	-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

	box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);

}

.flexslider .slides {

	zoom: 1;

}

.flexslider .slides img {

	height: auto;

}

.flex-viewport {

	max-height: 2000px;

	-webkit-transition: all 1s ease;

	-moz-transition: all 1s ease;

	-ms-transition: all 1s ease;

	-o-transition: all 1s ease;

	transition: all 1s ease;

}

.loading .flex-viewport {

	max-height: 300px;

}

.carousel li {

	margin-right: 5px;

}

.flex-direction-nav {

 *height: 0;

}

.flex-direction-nav a {

	text-decoration: none;

	display: block;

	width: 40px;

	height: 40px;

	margin: -30px 0 0;

	position: absolute;

	top: 50%;

	font-size: 20px;

	z-index: 10;

	overflow: hidden;

	opacity: 1;

	cursor: pointer;

	text-align: center;

	line-height: 40px;

	background: rgba(0,0,0,0.8);

	color: #ecc731;

	-webkit-transition: all 0.3s ease-in-out;

	-moz-transition: all 0.3s ease-in-out;

	-ms-transition: all 0.3s ease-in-out;

	-o-transition: all 0.3s ease-in-out;

	transition: all 0.3s ease-in-out;

}

.flex-direction-nav a:before {

	font-family: "";

	font-size: 20px;

	display: inline-block;

	width: 100%;

	font-family: 'FontAwesome';

	content: '\f104';

	color: #3dc5df;

	margin-top: 0px;

	float: left;

}

.flex-direction-nav a.flex-next:before {

	content: '\f105';

}

.flex-direction-nav .flex-prev {

}

.flex-direction-nav .flex-next {

	text-align: center;

	right: 0px;

}

.flexslider:hover .flex-direction-nav .flex-prev {

	opacity: 0.7;

}

.flexslider:hover .flex-direction-nav .flex-prev:hover {

	opacity: 1;

}

.flexslider:hover .flex-direction-nav .flex-next {

	opacity: 0.7;

}

.flexslider:hover .flex-direction-nav .flex-next:hover {

	opacity: 1;

}

.flex-nav-next {

	right: 60px;

	position: absolute;

}

.flex-nav-prev {

	left: 20px;

	position: absolute;

}

.flex-direction-nav .flex-disabled {

	opacity: 0!important;

	filter: alpha(opacity=0);

	cursor: default;

}

.flex-pauseplay a {

	display: block;

	width: 20px;

	height: 20px;

	position: absolute;

	bottom: 5px;

	left: 10px;

	opacity: 0.8;

	z-index: 10;

	overflow: hidden;

	cursor: pointer;

	color: #000;

}

.flex-pauseplay a:before {

	font-family: "flexslider-icon";

	font-size: 20px;

	display: inline-block;

	content: '\f004';

}

.flex-pauseplay a:hover {

	opacity: 1;

}

.flex-pauseplay a .flex-play:before {

	content: '\f003';

}

.flex-control-nav {

	width: 100%;

	position: absolute;

	bottom: -40px;

	text-align: center;

}

.flex-control-nav li {

	margin: 0 6px;

	display: inline-block;

	zoom: 1;

 *display: inline;

}

.flex-control-paging li a {

	width: 11px;

	height: 11px;

	display: block;

	background: #666;

	background: rgba(0, 0, 0, 0.5);

	cursor: pointer;

	text-indent: -9999px;

	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

	-o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

	-webkit-border-radius: 20px;

	-moz-border-radius: 20px;

	border-radius: 20px;

}

.flex-control-paging li a:hover {

	background: #333;

	background: rgba(0, 0, 0, 0.7);

}

.flex-control-paging li a.flex-active {

	background: #000;

	background: rgba(0, 0, 0, 0.9);

	cursor: default;

}

.flex-control-thumbs {

	margin: 15px 0 0;

	position: static;

	overflow: hidden;

}

.flex-control-thumbs li {

	width: 20%;

	float: left;

	margin: 0;

	padding: 0 5px;

}

.flex-control-thumbs img {

	width: 100%;

	height: auto;

	display: block;

	opacity: 0.5;

	cursor: pointer;

	-webkit-transition: all 1s ease;

	-moz-transition: all 1s ease;

	-ms-transition: all 1s ease;

	-o-transition: all 1s ease;

	transition: all 1s ease;

}

.flex-control-thumbs img:hover {

	opacity: 1;

}

.flex-control-thumbs .flex-active {

	opacity: 1;

	cursor: default;

}

/* ====================================================================================================================

 * RESPONSIVE

 * ====================================================================================================================*/

@media screen and (max-width: 860px) {

.flex-direction-nav .flex-prev {

	opacity: 1;

	left: 10px;

}

.flex-direction-nav .flex-next {

	opacity: 1;

	right: 10px;

}

}

/* 

 *  Owl Carousel - Animate Plugin

 */

.owl-carousel .animated {

	-webkit-animation-duration: 1000ms;

	animation-duration: 1000ms;

	-webkit-animation-fill-mode: both;

	animation-fill-mode: both;

}

.owl-carousel .owl-animated-in {

	z-index: 0;

}

.owl-carousel .owl-animated-out {

	z-index: 1;

}

.owl-carousel .fadeOut {

	-webkit-animation-name: fadeOut;

	animation-name: fadeOut;

}

 @-webkit-keyframes fadeOut {

 0% {

 opacity: 1;

}

 100% {

 opacity: 0;

}

}

@keyframes fadeOut {

 0% {

 opacity: 1;

}

 100% {

 opacity: 0;

}

}

/* 

 * 	Owl Carousel - Auto Height Plugin

 */

.owl-height {

	-webkit-transition: height 500ms ease-in-out;

	-moz-transition: height 500ms ease-in-out;

	-ms-transition: height 500ms ease-in-out;

	-o-transition: height 500ms ease-in-out;

	transition: height 500ms ease-in-out;

}

/* 

 *  Core Owl Carousel CSS File

 */

.owl-carousel {

	display: none;

	width: 100%;

	-webkit-tap-highlight-color: transparent;

	/* position relative and z-index fix webkit rendering fonts issue */

	position: relative;

	z-index: 1;

}

.owl-carousel .owl-stage {

	position: relative;

	-ms-touch-action: pan-Y;

}

.owl-carousel .owl-stage:after {

	content: ".";

	display: block;

	clear: both;

	visibility: hidden;

	line-height: 0;

	height: 0;

}

.owl-carousel .owl-stage-outer {

	position: relative;

	overflow: hidden;

	/* fix for flashing background */

	-webkit-transform: translate3d(0px, 0px, 0px);

}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next, .owl-carousel .owl-controls .owl-dot {

	cursor: pointer;

	cursor: hand;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}

.owl-carousel.owl-loaded {

	display: block;

}

.owl-carousel.owl-loading {

	opacity: 0;

	display: block;

}

.owl-carousel.owl-hidden {

	opacity: 0;

}

.owl-carousel .owl-refresh .owl-item {

	display: none;

}

.owl-carousel .owl-item {

	position: relative;

	min-height: 1px;

	float: left;

	-webkit-backface-visibility: hidden;

	-webkit-tap-highlight-color: transparent;

	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

}

.owl-carousel .owl-item img {

	display: block;

	width: 100%;

	-webkit-transform-style: preserve-3d;

}

.owl-carousel.owl-text-select-on .owl-item {

	-webkit-user-select: auto;

	-moz-user-select: auto;

	-ms-user-select: auto;

	user-select: auto;

}

.owl-carousel .owl-grab {

	cursor: move;

	cursor: -webkit-grab;

	cursor: -o-grab;

	cursor: -ms-grab;

	cursor: grab;

}

.owl-carousel.owl-rtl {

	direction: rtl;

}

.owl-carousel.owl-rtl .owl-item {

	float: right;

}

/* No Js */

.no-js .owl-carousel {

	display: block;

}

/* 

 * 	Owl Carousel - Lazy Load Plugin

 */

.owl-carousel .owl-item .owl-lazy {

	opacity: 0;

	-webkit-transition: opacity 400ms ease;

	-moz-transition: opacity 400ms ease;

	-ms-transition: opacity 400ms ease;

	-o-transition: opacity 400ms ease;

	transition: opacity 400ms ease;

}

.owl-carousel .owl-item img {

	transform-style: preserve-3d;

}

/* 

 * 	Owl Carousel - Video Plugin

 */

.owl-carousel .owl-video-wrapper {

	position: relative;

	height: 100%;

	background: #000;

}

.owl-carousel .owl-video-play-icon {

	position: absolute;

	height: 80px;

	width: 80px;

	left: 50%;

	top: 50%;

	margin-left: -40px;

	margin-top: -40px;

	background: url("owl.video.play.png") no-repeat;

	cursor: pointer;

	z-index: 1;

	-webkit-backface-visibility: hidden;

	-webkit-transition: scale 100ms ease;

	-moz-transition: scale 100ms ease;

	-ms-transition: scale 100ms ease;

	-o-transition: scale 100ms ease;

	transition: scale 100ms ease;

}

.owl-carousel .owl-video-play-icon:hover {

	-webkit-transition: scale(1.3, 1.3);

	-moz-transition: scale(1.3, 1.3);

	-ms-transition: scale(1.3, 1.3);

	-o-transition: scale(1.3, 1.3);

	transition: scale(1.3, 1.3);

}

.owl-carousel .owl-video-playing .owl-video-tn, .owl-carousel .owl-video-playing .owl-video-play-icon {

	display: none;

}

.owl-carousel .owl-video-tn {

	opacity: 0;

	height: 100%;

	background-position: center center;

	background-repeat: no-repeat;

	-webkit-background-size: contain;

	-moz-background-size: contain;

	-o-background-size: contain;

	background-size: contain;

	-webkit-transition: opacity 400ms ease;

	-moz-transition: opacity 400ms ease;

	-ms-transition: opacity 400ms ease;

	-o-transition: opacity 400ms ease;

	transition: opacity 400ms ease;

}

.owl-carousel .owl-video-frame {

	position: relative;

	z-index: 1;

}