/*** Leka-theme-v1.3 ************************************/
.footer-sidebar.footer {
    clear:both;
}
/* Newsletter popup */
.leka-popup{
    position: relative;
    background: #FFF;
    width: auto;
    width: 770px;
    margin: 0;
    padding: 80px 100px;
    color: #141414;
    background-color: #fbfbfb;
    background-position:bottom right;
    background-repeat:  no-repeat;
}
.leka-popup h3{
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    letter-spacing: 5px;
}
.leka-popup .notice{
    font-size: 18px;
    font-family: 'Crimson Text';
    font-style: italic;
    margin-bottom: 17px;
}
.leka-popup .popup-title{
    padding-right: 30px;
}
.leka-popup .form-subscribe{
    position: relative;
    margin-bottom: 40px;
}
.leka-popup .form-subscribe input[type="text"]{
    width: 100%;
    padding: 16px 20px;
    background: #FFF;
    border: 1px solid #e9e9e9;
    height: 58px;
}
.leka-popup .form-subscribe input[type="text"]:focus{
    outline: none;
}
.leka-popup .form-subscribe .button{
    position: absolute;
    top: 0;
    right: 0;
    background: #303030;
    color: #fff;
    padding: 16px 22px;
    border-color: #303030;
}
.leka-popup .form-subscribe .button:hover,
.leka-popup .form-subscribe .button:focus{
    background-color: #7e883a;
    border-color: #7e883a;
    outline: none;
}
.leka-popup .checkbox {
    font-size: 10px;
    text-transform: uppercase;
}
.white-popup .mfp-close:hover{
    background: none;
}
.leka-popup #uniform-persistent {
    display: inline-block;
    line-height: 20px;
}
.block-subscribe label {line-height: 20px;}
body.index .fancybox-skin .fancybox-close.fancybox-newsletter-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    background: none!important;}
body.index .fancybox-skin .fancybox-close.fancybox-newsletter-close:after {
    background: none!important;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 24px;
    font-family: Arial, Baskerville, monospace;
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333; 
    content: 'x';
    display: inline-block;
}
@media (max-width: 991px) {
    .leka-popup {
        width: 680px;
        padding: 30px 50px;
    }
}

/*** Leka-theme-v1.3.1 ************************************/
/* Fixed popup cart index4 */
.index2 #layer_cart,
.index3 #layer_cart,
.index5 #layer_cart,
.index6 #layer_cart,
.index7 #layer_cart {
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate(-50%,-50%);}
.leka-product-grid .product .product-info h3 {
    min-height: 40px;}
    
/*** Leka-theme-v1.3.2 ************************************/
/* Fixed mini cart */
.mini-cart .icon .count.ajax_cart_quantity {
    width: 18px;
    height: 18px;
    line-height: 18px;
    right: -7px;
    top: 0!important;
    display: block!important;
}
/* Logo on layout 4 */
.index4 .page-template-sidebar .sidebar-menu .logo {
    max-width: 320px;
} 
.cart_navigation .button-medium {
    border-radius: 0!important;
}
/* jZoom on product page */
.single-images-wrap {position: relative;}
.single-images-wrap .single-images {display: inline-block;}
.single-images-wrap .single-product-thumbnails {z-index: 99;}

/* Display of top menu(display center of page) */
@media (min-width: 1200px) {
    .index1 #nav_topmenu {text-align: center;}
    .index1 #topmenu {display: inline-block;float: none;margin: 0 auto;padding-left: 16.66666667%;}
}

/*** Leka-theme-v1.4 ************************************/
/* Fix height product list */
.product .product-info h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product .product-info h3 a{color: inherit;}
/* accessories on product page */
#bxslider-accessories .product-box {margin-right: 15px;}
#product .zoomWrapperImage img {max-width: initial;}
/* index4: add languages & currencies */
.navbox-index4 {float: left;margin-right: 10px;margin-bottom: 20px;}
@media (min-width: 1200px) {
    .header-sidebar .navbox-index4.blockuserinfo {padding-left: 100px;}    
}
@media (max-width: 1199px) {
    .header-sidebar .navbox-index4.blockuserinfo {padding-left: 50px;}    
}
#languages-block-top > a img {
    padding-right: 3px;
    padding-bottom: 2px;
}
/* Login form */
#authentication .form-group .form-control {
    padding-top: 5px;
    padding-bottom: 5px;
}
#product .some-info{text-align: right;}
#product .some-info #pQuantityAvailable{margin-right: 10px;}
/***** leka-theme-v1.4.4 ********/
.sticky-wrapper { z-index: 5004; position: relative;width: 100vw; height: 0px !important;left: 50%;margin-left: -50vw;}
#menu_sticky {width: 100vw; background: #FFF; z-index: 1000;  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2); }
#menu_sticky { height: 0; overflow: hidden; }
@media (max-width: 767px) {
    #menu_sticky{display: none}
}
.sticky-wrapper.is-sticky #menu_sticky { height: auto; overflow: visible;}
#menu_sticky .sticky_container{position: relative}
#menu_sticky .logo{display: none}
.header.header-style2 .form-search {
    right: 0;
    bottom: 25px;
}
.header.header-style2 #menu_sticky #form-search{
    bottom: 0;
}

.header.header-style3 #menu_sticky{
    background-color: rgba(0,0,0,0.9);
}
.index3 .header #menu_sticky .sticky_content > .col-sm-12.col-md-12.col-lg-3 {
    display: none;
}
.index3 .header #menu_sticky .sticky_content .main-menu-wapper{width: 80%;}
.index5-cart-box .mini-cart .icon{vertical-align: middle}
.index5 .header.header-style2 .icon-search{padding-top: 12px}

.index6 .header .sticky-wrapper.is-sticky #menu_sticky .vertical-navigation{
    display: block;
}
.index6 .header #menu_sticky .vertical-wrap{position: relative}
.index6 .header #menu_sticky .vertical-navigation{
    top: -46px;
}
.index6 .header #menu_sticky #vertical-menu{
    top: 0;
display: none}
.index6 .header #menu_sticky #vertical-menu .vertical-navigation{display: none;}
.product .product-info .product-price {
    display: inline;
}
@media (max-width: 991px) {
    .ovicnewsletter.leka-popup{display: none}
}

/* leka-theme-v1.4.5 */
#index .header.header7 .top-header {display: none;}
.header.header7 .main-header .logo {
    padding: 0 0 0 15px;  
}
.header.header7 .mini-cart, 
.header.header7 .icon-search {
    height: auto;
}
.header.header7 .mini-cart .icon {
    display: block;
    height: auto;
}
.header.header7 .shopping_cart .cart_block {
    top: 36px;
}
.index7 .footer #newsletter_block {
    display: block;
}

.header.header7 #menu_sticky {
    background: rgba(0,0,0,0.9);
}
.header.header7 #nav_topmenu .navbar-nav > li > .dropdown-menu {
    top: 47px;
}
.header.header7 .main-header {
    padding-bottom: 0;
}
.header.header7 .top-header-menu li {list-style: none;}
/* Footer home7 */
.index7 .footer {
    background-color: #fff;
    padding: 30px 0 50px 0;
    border-top:1px solid #eee ;
}
.index.index7 .footer {
    border: none;
}
.index7 .footer .footer-menu a{
    font-size: 11px;
    color: #303030;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 35px;
    line-height: 36px;
    display: inline-block;
}
.index7 .footer .footer-menu a:hover{
    color: #7e883a;
}
.index7 .footer .footer-menu a:last-child{
    margin-right: 0;
}
.index7 .footer .footer-menu a .fa{
    margin-right: 10px;
    color: #7e883a;
}
.index7 .footer .widget-social{
    text-align: right;
    margin: 0;
}
.index7 .footer .widget-social li {
    display: inline-block;
}
.index7 .footer .widget-social a{
    margin-left: 48px;
    margin-right: 0;
    color: #868686;
    font-size: 12px;
}
.index7 .footer .widget-social a:hover{
    color: #7e883a;
}
 .index7 .footer .footer-bottom .coppyright{
    float: right;
    text-align: right;
    color: #c9c9c9;
    font-size: 11px;
}
.index7 .footer .footer-bottom{
    margin: 0;
    padding: 0;
    padding-top: 27px;
}
.index7 .footer .widget-newaletter{
    margin-top: 25px;
    background: #fff;
    border: 2px solid #e9e9e9;
    color: #747474;
}
.index7 .footer .coppyright {
    margin: 25px 0 0 0;
    text-align: right;
}
.index7 .footer .coppyright p {
    margin: 0;
    FONT-SIZE: 12PX;
    COLOR: #747474;
}
.index7 .footer .widget-newaletter .newaletter-email, 
.index7 .footer .widget-newaletter .newaletter-button{
    height: 47px;
}
.index7 .footer .widget-newaletter .newaletter-email {
    box-shadow: none;
    letter-spacing: 1px;
}
.index7 .logo-index {
    display: none;
}
#index.index7 .logo-index {
    display: block;
}
#index .logo-not-index {
    display: none!important;
}
@media (min-width: 992px) {
    #index .header.header7 {
        width: 100%;
        position: absolute;
        background: none;   
    }
    .header.header7 .main-header .logo {
        text-align: left;
    }
    #index .header.header7 .main-header {
        padding-top: 50px;
        padding-bottom: 0;
    }
    
    .header.header7 .main-header .main-menu-top {
        margin-top: 0;
        float: none;
    }
    .header.header7 .main-header .sticky_content {
        display: table;
        position: relative;
        width: 100%;
    }
    .header.header7 .main-header .sticky_content > .main-menu-wapper {
        position: static!important;
    }     
    .header.header7 .main-header .sticky_content > *{
        display: table-cell!important;
        vertical-align: middle;
        float: none;
    }
    .header.header7 .main-header .sticky_content > .block-cart-home7 {
        padding-left: 0;
        padding-right: 0;
    }
    .index7 .footer .coppyright p {
        LINE-HEIGHT: 50PX;
    }
    #index .header.header7 #nav_topmenu ul.nav > li > a,
    #index .header.header7 .icon-search .icon {
        color: #FFF;
    }
    #index .header.header7 .mini-cart .icon:before {
        background: url(../images/icon-cart3.png) no-repeat;
    }
    .header.header7 #menu_sticky #nav_topmenu ul.nav > li > a,
    .header.header7 #menu_sticky .icon-search .icon {
        color: #FFF;
    }
    .header.header7 #menu_sticky .mini-cart .icon:before {
        background: url(../images/icon-cart3.png) no-repeat;
    }
    .header.header7 .top-header {
        margin-bottom: 15px;
    }
    #index .logo-not-index {
        display: none!important;
    }
    .header.header7 #menu_sticky .logo {
        display: none!important;
    }
}

@media (min-width: 1199px) and (max-width: 991px) {
    #index .header.header7 #nav_topmenu ul.nav > li > a {
        color: #FFF;
    }
    .header.header7 .top-header-menu, 
    .header.header7 .top-header-right {
        width: 50%;
    }
    .header.header7 .top-header-menu li {
        text-align: left;
    }
    .header.header7 .top-header-right ul {
        text-align: right;
    }
    .header.header7 .main-header .logo {
        margin-bottom: 15px;
    }
}
@media (max-width: 991px) {
    .header.header7 .top-header {
        padding-bottom: 10px;
    }
    #index .header.header7 .main-header {
        background: #222;
    }
    .header.header7 .main-header .logo {
        padding: 15px 0;
    }
    #index .header.header7 .mini-cart .icon:before {
        background: url(../images/icon-cart3.png) no-repeat;
    }
    #index .header.header7 .icon-search .icon {
        color: #FFF;
    }
    #index .header.header7 .top-header {
        display: block;
        background: #222;
        border-bottom: none;
    }
    #index .header.header7 .top-header-menu > li > a,
    
    #index .header .top-header-right>ul>li>a {
        color: #FFF;
    }
    .index7 .footer .coppyright {
        text-align: center;
    }
    .index7 .footer .widget-social ul {
        text-align: center;
    }
    .index7 .footer .widget-social ul > li {
        float: none;
    }
    .index7 .footer .widget-social a {
        margin: 0 20px;
    }
    .index7 .footer .footer-menu {
        text-align: center;
    }
    .index7 .footer .widget-newaletter {
        margin-top: 10px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #index .header.header7 #nav_topmenu ul.nav > li > a,
    #index .header.header7 .top-header-menu .pagelink-wrap > li > a {
        color: #FFF;
    }
    .header.header7 .top-header-menu .pagelink-wrap .dropdown-menu {
        left: 50%;
        margin-left: -80px;
    }
}
@media (max-width: 767px) {
    #index .header.header7 .top-header-menu .pagelink-wrap > li > a {
        color: #FFF;
    }
    .header.header7 .top-header-menu .pagelink-wrap .dropdown-menu {
        left: 50%;
        margin-left: -80px;
    }
}

/*** Leka-theme-v1.4.6 ************************************/
/* Fix sticky menu on macbook */
#menu_sticky-sticky-wrapper {
    margin-left: 0;
}
.sticky-wrapper.is-sticky #menu_sticky {
    left: 0;
}

/* 2 wishlist */
.product .product-thumb .wishlist {
    display: inline-block; 
}
.product .product-thumb .wishlist > .wishlist_button_list{
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.product .product-thumb:hover .wishlist > .wishlist_button_list{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.product .wishlist > .wishlist_button_list{	
	width: 38px;
	height: 33px;
	border: 1px solid rgba(255,255,255,0.6);
	color: transparent;
	display: inline-block;
	margin: 0 4px;
	position: relative;
	text-align: center;
	vertical-align: top;
	line-height: 33px;
}
.product .wishlist > .wishlist_button_list:hover{
	background-color: #ffffff;
	border-color: #ffffff;
}
.product .wishlist > .wishlist_button_list:after{
	font-family: 'FontAwesome';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #ffffff;
}
.product .wishlist > .wishlist_button_list .fa {
    color: #fff;
}
.product .wishlist > .wishlist_button_list:hover .fa {
    color: #303030;
}
/*** Leka-theme-v1.4.7 ************************************/
/* Fix reesize menu */
@media (min-width: 768px) {
    .main-header #topmenu {
        display: inline-block!important;
    }    
}
/* parallax page */
section.banner.bg-parallax.parallax_page {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}
/* FAQ */
/*accordion*/
.leka-accordion .ui-accordion-content{
    border: none;
    border-bottom: 1px solid #e9e9e9;
    padding: 50px 0;
    height: auto!important;
    background: none;
}
.leka-accordion .ui-accordion-content p:last-child{
    margin-bottom: 0;
}
.leka-accordion .ui-accordion-content ul{
    padding-left: 20px;
}
.leka-accordion .ui-accordion-header{
    margin-bottom: 0;
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    padding: 16px 0;
    position: relative;
    background: none;
}
.leka-accordion .ui-accordion-header:first-child{
    padding-top: 0;
}
.leka-accordion .ui-accordion-header-icon{
    width: 22px;
    height: 22px;
    background: #e9e9e9;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 22px;
}
.leka-accordion .ui-accordion-header-icon:before{
    content: '+';
    text-indent: 0;
    display: block;
}
.leka-accordion .ui-state-active,
.leka-accordion .ui-state-hover,
.leka-accordion .ui-state-focus{
    outline: none;
    color: #7e883a;
}
.leka-accordion .ui-state-active{
    border-color: transparent;
}
.leka-accordion .ui-state-active .ui-accordion-header-icon:before,
.leka-accordion .ui-state-hover .ui-accordion-header-icon:before,
.leka-accordion .ui-state-hover .ui-accordion-header-icon:before{
    content: '-';
    text-indent: 0;
    display: block;
}
.leka-accordion .ui-state-active .ui-accordion-header-icon,
.leka-accordion .ui-state-hover .ui-accordion-header-icon,
.leka-accordion .ui-state-hover .ui-accordion-header-icon{
    background-color:#7e883a;
    color: #fff;
}
#cms.cms #center_column h3 {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 14px;
    border-bottom: 1px solid #e9e9e9;
    padding: 16px 0;
    position: relative;
    background: none;
}
#cms.cms .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: auto;
    bottom: 0;
    top: auto;
    margin-top: 0;
    right: 0;
    margin: 0;
}