#productscategory_list .product-name {
  margin-bottom: 5px; }
  #productscategory_list .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    #productscategory_list .product-name a:hover {
      color: #515151; }
#productscategory_list .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  #productscategory_list .exclusive span:focus, #productscategory_list .exclusive span:active {
    text-decoration: none; }

/* OWL Style */
#product-category {
    margin-top: 40px;
}
#product-category h3.title-block {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 40px 0;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-family: Montserrat;
}
#product-category h3.title-block:before {
    border-top: 1px solid #ccc;
    content: "";
    height: 1px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    z-index: 0;
}
#product-category h3.title-block > span {
    display: inline-block;
    background: #FFF;
    position: relative;
    z-index: 1;
    padding: 0 10px;
}
/*# sourceMappingURL=productscategory.css.map */
