.mini-cart .list-cart-product dt {
    list-style: none;
    margin-bottom: 15px;
    padding-bottom: 15px;
    width: 100%;
    float: left;
    position: relative;
}
.mini-cart .remove {
    bottom: 10px;
}
.main-header-inner .icon-search:before {
    display: none;
}
/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
  background-color: transparent;
  position: absolute;
  display: none;
  z-index: 1000;
  width: 100%;
  margin-right: 0;
  margin-left: 0;}
  #layer_cart .layer_cart_product {
    padding: 0;
    overflow: hidden;
    position: static; }
  #layer_cart .cross {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 25px;
      line-height: 25px; }
    #layer_cart .cross:hover {
      color: #515151; }
  #layer_cart .continue {
    cursor: pointer; }
  #layer_cart p {
    padding: 0px; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: none;
  padding: 0;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 23px/26px Arial, Helvetica, sans-serif;
  color: #333;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: none;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }
dl.products {
  margin-bottom: 0;
}
a#button_order_cart.checkout-btn i, a.checkout-btn i {
    display: none;}

/* Sebian: Cart Block */
#blockcart_wrap {position: absolute;right: 0;top: 10px}
.shopping_cart .cart_block {
    display: none;
    position: absolute;
    right: 0;
    top: 45px;}
.shopping_cart:hover .cart_block {display: block;}
header .shopping_cart.shop-cart > a {position: relative;right: 0px;}
.shopping_cart .ajax_cart_product_txt, 
.shopping_cart .ajax_cart_product_txt_s, 
.shopping_cart .ajax_cart_total, 
.shopping_cart .ajax_cart_no_product {
    display: none!important;}
.shopping_cart .unvisible {display: none!important;}
header .shopping_cart.shop-cart > a {color:#fff;}
header.header-style-2 .shopping_cart.shop-cart > a {color:#666;}
header .shopping_cart.shop-cart > a:after {
    display: inline-block;
    font-family: FontAwesome;
    content: "";
    width: 40px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 100;
}     
header .shopping_cart.shop-cart .dropdown {
    background: #272727;
    padding: 20px !important;
    width: 360px !important;
}
header .shopping_cart.shop-cart .numb {top: -15px;}
header .cart-img {width: 80px;display: inline-block;margin-right: 20px;}
header .shop-cart .media {position: relative;}
header .shop-cart .media-left {padding-right: 10px;}
header .shop-cart h6 > a.cart_block_product_name {text-transform: uppercase;color: #FFF;font-size: 14px;}
header .shop-cart span.price {width: 100%;}
header .shop-cart .ajax_cart_block_remove_link {
    border: medium none !important;
    font-size: 16px !important;
    position: absolute;
    right: 0px;
    top: 7px;
    left: auto;
    padding: 0;
    width: auto !important;}
header .shop-cart dt {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding-bottom: 15px !important;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;}
header .shop-cart h5.text-center {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
}
header .shop-cart span.remove_link {
    margin: 0;
    padding: 0;
}
header .shop-cart h5.text-center > span {
    width: auto;
    float: none;
    font-size: 18px;
    color: #FFF;
    margin: 0;
}
header .shop-cart .cart-button {
    margin-bottom: 15px;
}
/* Block Cart Layer */
#layer_cart .layer_cart_cart h2,
#layer_cart .layer_cart_product h2 {margin-top: 0;}
#layer_cart .layer_cart_product h2 i {font-size: 20px;line-height: 25px;}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium,
#layer_cart .layer_cart_cart .button-container span.exclusive-medium span {
    background: none;
    color:#333!important;
}
#layer_cart .layer_cart_cart .button-container span.exclusive-medium,
#layer_cart .layer_cart_cart .button-container .btn span {font-size: 12px; padding: 0 10px; line-height: 33px; height: 34px;}
#layer_cart .product-image-container.layer_cart_img {
    text-align: center;
}
#layer_cart img.layer_cart_img.img-responsive {
    display: inline-block;
	max-height: 115px;
}
#layer_cart .popup-add-to-cart .product-name {
    display: inline-block;
}
/*# sourceMappingURL=blockcart.css.map */