.ovicnewsletter { margin: 0; padding: 15px; width: 830px; height: 400px; text-align: left; position: relative; background-repeat: no-repeat; background-position: right top }
.ovicnewsletter:before { position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; content: ''; border: 1px solid #cccccc; }
.ovicnewsletter .block-subscribe { margin-bottom: 0 }
.ovicnewsletter .block-content { max-width: 456px; margin-bottom: 25px }
.ovicnewsletter .block-content label { display: block }
.ovicnewsletter h2 { margin: 40px 0 30px; font-size: 30px; text-transform: uppercase; font-weight: bold; }
.ovicnewsletter p { font: normal 14px "Lato", sans-serif; margin-bottom: 25px }
.ovicnewsletter .input-box { padding: 0 }
.ovicnewsletter input.input-text { height: 40px; padding: 0 15px; width: 100%; text-align: center; color: #999999; border: 2px solid #d9d9d9; background: transparent; }
.ovicnewsletter button.button { padding: 0 25px; line-height: 45px; height: 45px; font: bold 13px "Lato", sans-serif; margin-top: 20px; margin-bottom: 25px; background: #fff; text-transform: uppercase; border: 1px solid #999999; }
.ovicnewsletter .subscribe-bottom { padding: 5px 0; max-width: 456px }
.ovicnewsletter .subscribe-bottom label { font-size: 12px; margin-bottom: 0; font-weight: 400 }
.ovicnewsletter #newsletter_popup_dont_show_again { margin-top: 1px }
#regisNewsletterMessage p { padding: 5px 15px }
#uniform-persistent, .label-persistent { display: inline-block; }
@media (max-width:991px) {
    .ovicnewsletter { width: auto !important; }
}
@media (max-width:767px) {
    .ovicnewsletter { padding: 40px 15px; }
    .ovicnewsletter h2 { font-size: 26px; }
}
@media (max-width:479px) {
    .ovicnewsletter button.button {     width: 80px;
        padding: 0 15px;    margin-bottom: 0; }
}