/* horizontal top */
.nav-horizontal-top-megamenu{
	/*
	padding: 0 15px;
	position: relative;
	*/ 
}
ul.horizontal-top-megamenu.menu{
	margin-bottom: 0;
}
.nav-horizontal-top-megamenu .menu>li >a{
	padding:15px 15px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.horizontal-top-megamenu.menu > li{float:left;}
.menu li{position:relative}
.menu li a{display:block;padding:0 25px;font:14px/20px sans-serif}
.menu li ul{
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:100%;left:0;
	z-index:900;
	border:1px solid #e6dfd1;
	border-top:none;
	width:200px;
	margin-top:20px;
	box-shadow:0 2px 3px rgba(0,0,0,.1);
	-webkit-box-shadow:0 2px 3px rgba(0,0,0,.1);
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s
}
.menu li.reverse ul{left:auto;right:0}
.menu li ul ul{top:0;left:100%;margin-top:20px;margin-left:2px}
.menu li li.reverse ul,
.menu li.reverse li ul{left:auto;right:100%;margin-right:2px}
.menu li li a{display:block;padding:10px 20px; background-color:#fbfbfb;font-size:13px;line-height:20px;text-transform:uppercase;border-top:1px solid #e6dfd1}
.menu li.megamenu-container{position:static}
.megamenu{visibility:hidden;opacity:0;margin-top:20px;position:absolute;top:100%;left:15px;right:15px;z-index:900;padding:15px;background-color:#fbfbfb;box-shadow:0 2px 3px rgba(0,0,0,.1);-webkit-box-shadow:0 2px 3px rgba(0,0,0,.1);transition:all .35s;-webkit-transition:all .35s;-moz-transition:all .35s;border-top:1px solid #eae9e9;border-bottom:1px solid #eae9e9; overflow: hidden}
.menu .megamenu a{padding:0}
.megamenu .container {
	width: 100%;
}
.megamenu-title{font:15px/25px sans-serif;color:#888377;margin-bottom:10px}
.menu .megamenu ul {visibility:inherit;opacity:1;margin-top:0;border:none;position:relative;left:auto;top:auto;right:auto;width:100%;box-shadow:none;-webkit-box-shadow:none}
.menu .megamenu ul a{border:none;font:14px/25px sans-serif;text-transform:capitalize}
.menu .megamenu .menu-item-image{padding:25px 20px 10px}
.menu .megamenu .menu-item-image h4{font:40px/1 sans-serif;color:#746f65;margin-bottom:0}
.menu .megamenu .menu-item-image h5{font:17px/25px sans-serif;color:#746f65;margin-bottom:7px}
.menu .megamenu .menu-item-image h4+h5{font-size:15px}
.menu .megamenu .menu-item-image h5>span{font:15px/25px sans-serif;color:#746f65}
.menu li.active>.megamenu,
.menu li.active>ul{margin-top:3px;opacity:1;visibility:visible}
/* vertical left */
.vertical-left-megamenu{
	border-left: 1px solid #e6dfd1;
	border-bottom: 1px solid #e6dfd1;
	border-right: 1px solid #e6dfd1;
	border-top: none;
	background: #fff;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;	
	
}
.style-1 .vertical-left-megamenu:before{
	width: 101%;
	height: 3px;
	background: #ff3366;
	position: absolute;
	top: 0;
	left: -1px;
}
.nav-vertical-left-megamenu .menu > li > a{
	padding: 10px 15px;
	border-bottom: 1px solid #e6dfd1;
}
.nav-vertical-left-megamenu .menu > li:last-child a{
	border: none;
}
.nav-vertical-left-megamenu .menu > li > ul,
.nav-vertical-left-megamenu .menu li > .megamenu{
	top: -1px;
	left: 100%;
	margin-left: 20px;
	margin-top: 0;
	background-color: #fff;
}
.nav-vertical-left-megamenu .menu li.active>ul,
.nav-vertical-left-megamenu .menu li.active>.megamenu{
	margin-left: 0;
}
.nav-vertical-left-megamenu .menu li.megamenu-container{position:relative}
.nav-vertical-left-megamenu .menu li li a{
	background-color: #fff;
	padding: 0;
}
.nav-vertical-left-megamenu .menu li.simplemenu-container a:before{
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: 
}
.nav-vertical-left-megamenu .widget-title{
	padding: 15px 15px 16px 15px;
	margin: 0;
}
.nav-vertical-left-megamenu .megamenu{
	box-shadow: none;
	-webkit-box-shadow:none;
	transition:all .35s;
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
	border: 1px solid #e6dfd1;
}
.vertical-left-megamenu.menu > li.simplemenu-container > a,
.vertical-left-megamenu.menu > li.megamenu-container > a{
	position: relative;
}
.vertical-left-megamenu.menu li.megamenu-container > a:after,
.vertical-left-megamenu.menu > li.simplemenu-container > a:after{
	width: 2px;
	height: 100%;
	background: #fff;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	content: "";
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
	opacity: 0;
	visibility: hidden;
}
.vertical-left-megamenu.menu li.megamenu-container:hover > a:after,
.vertical-left-megamenu.menu > li.simplemenu-container:hover > a:after{
	right: -1px;
	opacity: 1;
	visibility: visible;
}



.vertical-megamenu{
	position: relative;
}
.vertical-megamenu .col-sm-3, 
.vertical-megamenu .col-sm-4,
.vertical-megamenu .col-sm-5,
.vertical-megamenu .col-sm-6,
.vertical-megamenu .col-sm-7,
.vertical-megamenu .col-sm-8,
.vertical-megamenu .col-sm-9,
.vertical-megamenu .col-sm-10,
.vertical-megamenu .col-sm-11,
.vertical-megamenu .col-sm-12{
	position: static
}
/* responsive */
.responsive-nav{display:none;margin-top:0}
.responsive-btn-text{
	text-transform:uppercase;
	font-size: 16px;
	margin-left: 10px;
}
.responsive-btn{
	display: block;
	padding: 15px;
}
.responsive-menu-container{
	position:absolute;
	top:100%;
	left:15px;
	right:15px;
	z-index:999;
	border:1px solid #eae9e9;
	border-bottom:none;
	box-shadow:0 3px 4px rgba(0,0,0,.2);
	-webkit-box-shadow:0 3px 4px rgba(0,0,0,.2);
	display:none;
	padding: 1px;
	background: #fff;
}
.responsive-menu-container ul{
	margin-bottom: 0;
	background-color: #fff;
}
.responsive-menu .col-md-2,
.responsive-menu .col-md-3,
.responsive-menu .col-md-4,
.responsive-menu .col-md-6,
.responsive-menu .col-md-7,
.responsive-menu .col-md-8,
.responsive-menu .col-md-9,
.responsive-menu .col-md-10,
.responsive-menu .col-md-11,
.responsive-menu .col-md-12,
.responsive-menu .container{width:100%;padding:0}
.responsive-menu .row{margin:0}
.responsive-menu .menu-banner{display:none}
.responsive-menu-container .menu-btn-wrapper{display:block;width:60px;height:50px;position:absolute;right:0;top:0;z-index:950;cursor:pointer}
.responsive-menu-container .menu-btn{
	display:block;
	width:24px;
	height:24px;
	position:absolute;
	top:12px;
	right:30px;
	background-color:transparent;
	text-align: center;
	line-height: 24px; 
	background-image: url("../images/icons.png");
	background-position: -58px 4px;
}
.menu-btn-wrapper.active .menu-btn{
	background-color: #e9e8df;
	background-position: -58px -27px;
}
.responsive-menu-container .active>.menu-btn,
.responsive-menu-container .open>.menu-btn-wrapper>.menu-btn{color: #fff}
.responsive-menu-container .open>.menu-btn-wrapper>.menu-btn.ti-plus:before{content: "\e622";}
.responsive-menu-container .menu-btn-wrapper:hover>.menu-btn{background-color:#e9e8df}
.responsive-menu-container .open>.menu-btn-wrapper:hover>.menu-btn{background-color:transparent}
.responsive-menu li,
.responsive-menu li a{display:block;position:relative}
.responsive-menu li a{font:14px/20px sans-serif;padding:15px 29px;border-bottom:1px solid #eae9e9;text-transform:uppercase;color:#6f6a60;background:#fff}
.responsive-menu-container .user-dropdown .dropdown-menu li ul{border:none}
.responsive-menu-container .user-dropdown .dropdown-menu li a{border-top:none}
.responsive-menu>li:last-child>a{border-bottom:none}
.responsive-menu li .megamenu,
.responsive-menu li ul{display:none}
/*
.responsive-menu li.open:hover>a,
.responsive-menu li.open>a,
.responsive-menu .megamenu li.open>a{background-color:#3879D9;color:#fff!important}
*/

.responsive-menu li.open>a:after,
.responsive-menu li.open>a:before{content:'';position:absolute;top:0;width:1px;height:100%;background-color:transparent}
.responsive-menu li.open>a:before{left:-1px}
.responsive-menu li.open>a:after{right:-1px}

.responsive-menu li div a,
.responsive-menu li ul a{font-size:15px;background-color:#fff;padding-left:48px;color:#888377}
.responsive-menu li a.megamenu-title{font:15px/20px sans-serif}
.responsive-menu li ul ul a{padding-left:66px}
.responsive-menu .megamenu .open>a{border-bottom-color:transparent;color:#e61446}

.responsive-menu .megamenu{
	display:none;
	position:relative;
	opacity:1;
	visibility:visible;
	top:auto;
	left:auto;
	right:auto;
	margin:1px -1px 0 -1px!important;
	padding:0!important;
	box-shadow:none;
	-webkit-box-shadow:none;
	border-top:none;
	border-bottom:none;
	background-color:transparent
}
.responsive-menu .megamenu .megamenu-title{margin:0}
.responsive-menu .megamenu li a{font:13px/32px sans-serif;text-transform:capitalize;color:#888377;padding: 0 0 0 65px;border:none;background-color: #fff;line-height: 50px;border-bottom: 1px solid #eae9e9;}
.responsive-menu .megamenu ul{background:#fff;border-bottom:1px solid #eae9e9;padding-bottom:16px}
.responsive-menu li a:hover{color:#e61446}
.responsive-menu li.open>a:hover{color:#fff}


.responsive-nav{padding:15px 0}

.responsive-menu .megamenu .open > a.megamenu-title{
	background-color: #3879D9;
	color: #fff;
}
.responsive-menu li{
	margin-top: 1px;
}

.responsive-menu ul.menuitems,
.responsive-menu ul.menuitem_sub_level_1{
	margin-bottom: 0;
	padding-bottom: 0;
}
.responsive-menu ul.menuitems > li > a{
	padding-left: 40px;
	font-size: 15px;
	text-transform: uppercase;
}

.responsive-menu ul.menuitem_sub_level_1 > li >a{
	padding-left: 50px;
	font-size: 15px;
	text-transform: uppercase;
}
.responsive-menu .col-sm-4{
	
}
.responsive-menu .megamenu.megamenus-group-products{
	margin-top: 15px !important;	
	padding-bottom: 15px !important;
}
.responsive-menu .megamenus-group-products a.specific-box,
.responsive-menu .megamenus-group-products a.new-box,
.responsive-menu .megamenus-group-products a.sale-box{
	position: absolute;
	background-color: transparent;
	border: none;
}

.responsive-menu .megamenus-group-products.megamenu{
	display: block;
}
.responsive-menu .megamenu-rows .megamenu-title{
	padding: 30px 15px 0 15px;
	border:none;
}





@media (min-width: 1200px) {    
    .menu li a {
        padding: 0 30px
    }
    .left-menu.menu>li>a,
    .right-menu.menu>li>a {
        padding: 0 40px
    }
    .menu .megamenu .banner-container {
        padding-top: 40px
    }
}

@media (min-width: 992px) {    
	.vertical-left-megamenu li.menu-parent > a:before {
		font-family: 'themify';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: "\e649";	
		-moz-transition: all 0.45s ease;
		-webkit-transition: all 0.45s ease;
		-o-transition: all 0.45s ease;
		-ms-transition: all 0.45s ease;
		transition: all 0.45s ease;
		width: 10px;
		height: 12px;
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		z-index: 1000;
		font-size: 10px;
		margin-top: -6px;
	}
}



@media (min-width: 1200px) and (max-width: 1280px) {
    
    .left-menu.menu>li>a,
    .right-menu.menu>li>a {
        padding: 0 38px
    }
    
}
@media (min-width: 992px) and (max-width: 1199px) {
    
    .left-menu.menu>li>a,
    .right-menu.menu>li>a {
        padding: 0 25px
    }
}

@media (max-width: 992px) {
	.nav-vertical-left-megamenu .widget-title{
		display: none;
	}
	.nav-vertical-left-megamenu .responsive-nav{
		display: block;
	}
	.nav-vertical-left-megamenu .responsive-nav .megamenu-rows > a{
		border-bottom: 1px solid #eae9e9 !important;
	}	
	.main-categories,
	.main-categories > .relative.widget-categories{
		position: static !important;
	}
}
@media (min-width: 768px) and (max-width: 992px) {    
    .menu {
        display: none
    }
    .responsive-nav {
        display: block
    }    
    .left-menu.responsive-menu {
        border-bottom: 1px solid #eae9e9
    }    
    
    
}
@media (max-width: 768px) {   
    .menu {
        display: none
    }
    .responsive-nav {
        display: block
    }
    .main-nav {
        margin-right: -10px
    }

    
    
    .responsive-btn-block {
        margin-bottom: 8px
    }
    
    .responsive-menu-container .menu-btn {
        right: 20px
    }
    
    .responsive-menu li a {
        padding-left: 20px;
        padding-right: 20px;
        background: #fdfcf6
    }
   
    .responsive-menu .megamenu li a,
    .responsive-menu li div a,
    .responsive-menu li ul a {
        padding-left: 30px;
        padding-right: 30px
    }
    .responsive-menu li ul ul a {
        padding-left: 40px
    }
    .responsive-menu .menu-btn {
        right: 20px
    }
    
    .responsive-menu li.open>a:hover {
        color: #6f6a60
    }
    
    .responsive-menu .active>.menu-btn {
        background-position: -91px -1110px
    }
    .responsive-menu-container {
        left: 0;
        right: 0
    }
    

   
    
    
    .responsive-menu-container {
        left: 15px;
        right: 15px;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
	.responsive-menu .megamenus-group-products .product-container{
		width: 50%;
		float: left !important;
		margin-bottom: 30px;
	}
	.responsive-menu .megamenus-group-products .product-container.nth-child-3n{
		clear: both;
	}
	.responsive-menu .megamenus-group-products > .clearfix{
		display: none;
	}
}
@media (max-width: 480px) {
	.responsive-menu .megamenus-group-products .product-container{
		margin-bottom: 30px;
		clear: both;
	}	
}


.responsive-menu .container-product-action a{
	padding: 0;
	background-color: transparent;
}





















/* megamenu products */
.megamenus-group-products{
	margin-top: 23px;
}
.megamenus-group-products .product-container .product{
	border: 1px solid #eee;
	position: relative;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
	
}
.megamenus-group-products .product-container .product:hover{
	-moz-box-shadow: rgba(0, 0, 0, 0.17) 0 0 15px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 0 15px;
	box-shadow: rgba(0, 0, 0, 0.17) 0 0 15px;
}

.megamenus-group-products .product-container .product-box .right-block{
	padding: 10px;
}

/* price */
.megamenus-group-products .product-image-container{
	position: relative;
}
.megamenus-group-products .container-product-action{
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(86,86,86,0.3);
	width: 100%;
	padding: 6px 0;
	
}
.megamenus-group-products .container-product-action a.product-btn{
	width: 32px;
	height: 32px;
	border: 1px solid #f3f3f3;
	color: #f3f3f3;
	display: inline-block;
	text-align: center;
	line-height: 32px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
	
}
.megamenus-group-products a.product-name{
	text-transform: none;
}
.megamenus-group-products a.product-name:hover{
	color: #0dbf04;
}
.megamenus-group-products .right-block{
	padding: 10px 15px;
}
.responsive-menu .megamenus-group-products .right-block a{
	padding: 0;
	border-bottom: none !important;
	
}
.responsive-menu .megamenus-group-products .right-block a.product-add-btn{
	padding: 10px 0;
}
.megamenus-group-products .right-block h5{
	height: 24px;
	overflow: hidden;
}
.megamenus-group-products .container-product-action a.product-btn:hover,
.megamenus-group-products .container-product-action a.product-btn.checked{
	background-color: #0dbf04;
	color: #fff;
	border-color: #0dbf04;
}
.megamenus-group-products a.product-add-btn{
	margin-top: 15px;
	border: 1px solid #d80303;
	background-color: #d80303;
	text-align: center;
	color: #fff;
	padding: 6px 15px;
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.megamenus-group-products a.product-add-btn:hover{
	background-color: #0dbf04;
	border-color: #0dbf04;
}
.megamenus-group-products a.product-add-btn .product-cart{
	display: none;
}

.menu li ul ul.menuitem_sub_level_1{
	margin-left: 0;
}
.menu li ul ul.menuitem_sub_level_1 li > a{
	padding-left: 15px;
}
.desktop-nav.vertical-left-megamenu{
	opacity: 0;
	visibility: hidden;	
	-moz-transition: all 0.45s ease;
	-webkit-transition: all 0.45s ease;
	-o-transition: all 0.45s ease;
	-ms-transition: all 0.45s ease;
	transition: all 0.45s ease;
}
.active .desktop-nav.vertical-left-megamenu{
	opacity: 1;
	visibility: visible;
}

.all-category{
	background: #ff3366;
}
.all-category a{
	color: #fff;
}


/* responsive */
.vertical-toggle-menu{
	display: none;
}