.panel.loading{
    position: relative;
}
.panel.loading:before{
    display: inline-block;
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.panel.loading:after{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    margin-top: -30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f021";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}