/* Block: Subscribe */
.block-subscribe .block-content { padding:5px 0px; }
.block-subscribe label { font-weight:normal;font-size: 13px;margin: 0 0 18px 0; color: #888;}
.block-subscribe input.input-text { background-color: #343434 ; border:none ;  color: #ccc ;border-radius: 0;display: block;height: 36px; line-height: 36px;margin: 3px 0;width: 100%;}
.block-subscribe .actions { background:none; padding:0; margin:13px 0 0; text-align:left; }
.block-subscribe .actions button.button { 
    float:none;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: 0;
    border-radius: 4px;}
.block-subscribe .actions button.button span {border-radius: 3px;font-size: 12px; font-weight: 300;height: 40px;line-height: 40px ;}
.block-subscribe .inputNew.form-control.newsletter-input {
    background-color: #343434;
    border: none;
    color: #ccc;
    border-radius: 0;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 3px 0;
    width: 100%;
    font-weight: normal;
    font-size: 13px;
    color: #888;
    padding-left: 7px;
    background-position: 98% 10px ;}
.block-subscribe .actions button.button {
    color: #ffffff;
    background-color: #d6644a;
    border-color: #d6644a;
    text-transform: uppercase;
    }
.block-subscribe .inputNew.form-control.newsletter-input:focus {
    border-color: #d6644a;
    box-shadow: none;}
/*# sourceMappingURL=blocknewsletter.css.map */