.form-contact input[type="text"], .form-contact input[type="email"] {
    height: 50px;
    border-radius: 0;
    background: #FFF;
    box-shadow: none;
}
#contact p.desc_contact {display: none;}
#contact p.desc_contact i {margin-right: 5px;}
#contact .form-contact .button {
    float: right; 
    color: #fff;
    padding: 0 20px;
    line-height: 36px;
    height: 36px;
    border-radius: 0;
    margin-top: 8px;
    font-weight: normal;
    font-size: 14px;
}
#contact .form-group {
    margin-bottom: 22px;
}
#blockhtml_Contactform > .block-title {display: none;}