
/**** 1- TOP MENU AND NAV ****/
/**** 2- CONTENT HOME ****/
/*** 3.- FOOTER ***/


/**** 1- TOP MENU AND NAV ****/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, #productscomparison .button.ajax_add_to_cart_button span, #productscomparison #product_comparison .button.lnk_view, .products-list-view .product .product-button > a.button-compare.checked:after, .popup-add-to-cart .button-continue-shop:hover, .popup-add-to-cart .button-view-cart:hover{
	background: #ed9228 !important;
	border-color: #ed9228 !important;
}

 .testimonial .info-testimonial  .client-position, .blog-style2 .post-item .post-info h5 a:hover, .blog-style2 .post-item .post-meta .fa, .block-products .prodcut-list h6 a:hover, .block-products .product-price, .block-products .box-button a:hover, .header .top-header a:hover, .header .top-header a .fa, .header .top-header-right .dropdown-menu>li>a:focus, .header .top-header-right .dropdown-menu>li>a:hover, .header .top-header-right .dropdown-menu>li>a.current, .header.header-style3 .top-header a:hover, .header.header-style3 .top-header a:focus, .header.header-style3 .top-header-right .dropdown-menu>li>a:hover, .header.header-style3 .top-header-right .dropdown-menu>li>a:focus, .header.header-style3 .main-header .main-menu>ul>li>a:hover, .header.header-style3 .main-header .main-menu>ul>li>a:focus, .main-menu a:hover, .main-menu .sub-menu>li>a:focus, .main-menu .sub-menu>li>a:hover, .main-menu .sub-menu.mega-menu.style2 .widget a:hover, .main-menu .sub-menu.mega-menu.style2 .widget a:focus, .mini-cart .list-cart-product .product-info .price, .mini-cart .sub-toal, .footer a:hover, .footer .widget ul li a:hover, .footer .widget .widget-title, .footer .widget-newaletter .newaletter-button, .footer.footer-style2 .footer-menu a:hover, .footer.footer-style2 .footer-menu a .fa, .footer.footer-style2 .widget-social a:hover, .product .product-info h3 a:hover, .product .product-info .product-price, .product-feture .product-info h2 a:hover, .sortBar .display-product-option a.selected, .sortBar .display-product-option a:hover, .sortBar .display-product-option a:focus, .summary .price, .summary .product-share a:hover, .summary .product-share a:focus, .product-tabs .nav-tab li a:hover, .product-tabs .nav-tab li.active a, .product-tabs .nav-tab li:before, .blog-item .meta-post a:hover, .blog-item .meta-post .fa, .groupshare ul li a:hover, .widget ul li a:hover, .tagcloud a:hover, .widget .recent_posts_list li .post-cat a, .team-item .team-name a:hover, .team-item .team-name a:focus, .team-item .team-postion, .cart_totals  .order-total .amount, .checkout-page .amount, .block-info-contact .social-network a:hover, .block-info-contact .social-network a:focus, .leka-accordion .ui-state-active, .leka-accordion .ui-state-hover, .leka-accordion .ui-state-focus, .portfolio-nav a:hover, .portfolio-nav a:focus, .portfolio-nav a.active, .popup-add-to-cart .message .fa, .slide-home .leka-button:hover, .leka-button.button-style2:hover, .bottom-pagination-content .compare-form .bt_compare_bottom, .chart-page .payment_steps .current h6 span, .cart_delete a.cart_quantity_delete, a.price_discount_delete, .slide-home .owl-nav > div.owl-prev:hover, .slide-home .owl-nav > div.owl-next:hover{
	color: #ed9228 !important;
}

.cart_navigation .button-exclusive:focus, .cart_navigation .button-exclusive:active, .cart_navigation .button-exclusive:hover, .cart_navigation .button-medium span:hover{
	color: #fff !important;
	font-weight: 600;
	background: #ed9228;
}

.cart_navigation .button-exclusive, .cart_navigation .button-medium span{
	color: #303030 !important;
}



.header .top-header-menu{
	padding: 8px 0;
}

.header .top-header-right>ul>li{
	padding: 8px 3px;	
}

.header .top-header{
	background-color: #ebebeb;
}

.main-menu-wapper{
	background-color: #007a98;
	margin-top: 93px;
	z-index: 99;
}

.main-menu-wapper:before{
	position: absolute !important;
    left: -1200px;
    height: 42px;
    width: 1200px;
    content: "";
    z-index: -3;
    background-color: #007a98;
}

.main-menu-wapper:after{
	position: absolute !important;
    left:  0px;
    height: 42px;
    width: 900px;
    content: "";
    z-index: -3;
    background-color: #007a98;
}

.cart-search{
	margin-top: 83px;
}

.sticky-wrapper.is-sticky .cart-search{
	margin-top: 0px;
}

.ui-datepicker-month,.ui-datepicker-month option{
	color: #666;
}

.newaletter-button2:hover{
	background: #ed9228 !important;
	color: #fff !important;
	border-color: #ed9228 !important;
}

.sticky-wrapper.is-sticky .shopping_cart.mini-cart{
	z-index: -1;
	display: none;
}

.shopping_cart.mini-cart{
	z-index: 10000;
}

.mini-cart .icon:before{
	background: url("../css/images/icon-cart2.png") no-repeat !important;
}

.mini-cart .icon .count{
	background: #f4a209 !important;
}


.main-header{
	background-color: #fff !important;
	padding-bottom: 0px !important;
}

.main-menu-top{
	margin-top: 0px !important;
}

#nav_topmenu ul.nav > li{
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 20px;
}

#nav_topmenu ul.nav > li > a{
	color: #fff !important;
	font-size: 16px;
}

.logo{
	z-index: 999;
}

.main-header .col-sm-12.col-md-12.col-lg-3{
	z-index: 999;
}


.mini-cart .mini-cart-content{
	z-index: 900;
}

.toc_1,.toc_2,.toc_3,.toc_4,.toc_5{
	width: 20%;
	float: left;
	position: relative;
}

.toc_1 span,.toc_2 span,.toc_3 span,.toc_4 span, .toc_5 span{
	margin-left: 12px;
	color:  #007a98;
	display: inline-block;
	line-height: 30px;
}

.row_sub_slider{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 45px;
}

.header.header-style2 .main-header{
	padding-top: 20px;
}

.header .top-header a{
	color: #333333 !important; 
} 


.header .top-header a .fa{
	color: #ed9228 !important;
}

.row_sub_slider img{
	max-height: 30px;
}

.slide-home.owl-carousel:hover .owl-nav > div.owl-prev{
	display: none !important;
}

.slide-home.owl-carousel:hover .owl-nav > div.owl-next{
	display: none !important;
}

div#layered_price_slider .ui-slider-range.ui-widget-header.ui-corner-all{
	background: #007a98 !important;
}

div#layered_price_slider .ui-state-default{
	background: #f6a828 !important;
    border-radius: 50%;
   	top: -.45em;
    border-color: #f6a828 !important;
    width: 1.2em;
    height: 1.2em;
}



.lado_datos_slide{
	height: 100%;
    margin-left: -25px;
    background: #ed9228;
}

.content-slide{
	top:0 !important;
	transform: none !important;
	height: 100%; 
}

.content-slide .row{
	height: 100%;
}

.datos_secudarios{
	color: #000;
}

.slide_equipos{
	background: #fff;
	margin-top: 15px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.owl-carousel .owl-item  figure img{
	display: block;
    width: auto;
    max-height: 323px;
    min-height: 323px;
    -webkit-transform-style: preserve-3d;
    max-width: 100%;
    float: right;
    margin-right: -4px;
}

body{
	
	background:  url('../../../img/patronfondo.jpg');
}

.home .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: none;
}

.home .ui-widget-content{
	background: #ebebeb;
}

.ui-widget-header{
	background: #f6a828;
}

.contenedor-select-pais-home .selector{
	max-width: 100% !important;
	width: 100% !important;
}

.contenedor-select-ciudad-home{
	margin-top: 5px;
	
}

.contenedor-select-pais-home .selector span,.contenedor-select-ciudad-home .selector span{
	text-shadow: 0 1px 0 transparent;
}


.contenedor-select-ciudad-home .selector,.contenedor-select-pais-home .selector {
	max-width: 100% !important;
	width: 100% !important; 
	background-position: 0 0px;
	line-height: 32px;
	height: 32px;
}

.contenedor-select-ciudad-home .selector span,.contenedor-select-pais-home .selector span{
	line-height: 32px;
	height: 32px;
	background-position: right 2px !important;
}

.contenedor-select-ciudad-home .selector:hover span,.contenedor-select-pais-home .selector:hover span{
	background-position: right -25px !important;
}

 .contendor-fecha-hasta-home,.contenedor-fecha-desde-home{
	
	position: relative;
    display: block;
 }



.contenedor-fecha-desde-home:after,.contendor-fecha-hasta-home:after{
	content: ' ';
    margin-right: 8px;
    z-index: 1;
    margin-top: 4px;
    right: 0;
    background: url(../img/cal.png);
    width: 24px;
    height: 23px;
    position: absolute;
    top: 0px;
	
}

#ul_layered_fechadesde_0:after,#ul_layered_fechahasta_0:after{
	content: ' ';
    margin-right: 22px;
    z-index: 1;
    margin-top: 17px;
    right: 0;
    background: url(../img/cal.png);
    width: 24px;
    height: 23px;
    position: absolute;
    top: 0px;
}

#ul_layered_fechahasta_0:after{
	margin-top: 6px;
}


#ul_layered_fechadesde_0{
	padding-left: 45px; padding-right: 15px;
}

#ul_layered_fechahasta_0{
	padding-left: 45px; padding-right: 15px;
}

#ul_layered_fechahasta_0:before,#ul_layered_fechadesde_0:before{
	content: ' ';
    margin-left: -31px;
    margin-top: 17px;
    background: url(../img/lupa.png);
    width: 22px;
    height: 22px;
    position: absolute;
}

#ul_layered_fechahasta_0:before{
	margin-top: 6px;
}

#ui-datepicker-div{
	z-index: 90 !important;
}

#fechadesde,#fechahasta{
background: #d6d6d6 !important;
}


.fecha_hasta_home,.fecha_desde_home{
	background: #d6d6d6 !important;
	height: 27px !important;
    line-height: 27px !important;
}

/**** END 1- TOP MENU AND NAV ****/



/***** 2- CONTENT HOME *****/


.texto_slide_equipos{
	font-size: 24px;
	margin-top:10px;
	font-weight: bold;
}

.btn_comprar_slider{
	color: #fff;
    background: #007a98;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 12px;
    margin-top: 12px;
    display: block;
    width: 109px;
    margin-left: auto;
    margin-right: auto;
}
.slide-home .equipo_local, .slide-home .equipo_visitante {
	max-height: 105px;
}
#category .maincontainer{
	padding-top: 0px;
}

#category #center_column{
	padding-right: 30px;
}

.content_scene_cat .row-datos-cat{
	background-color: #ed9228;
	border-bottom: 8px solid #ed9228;
	margin-right: 15px;
	margin-left: 15px;
	
}

.bottom-pagination-content .compare-form{
	bottom: inherit;
}

.bloque_img_logo_categoria,.bloque_img_logo_producto{
	width: auto;
	background: #fff;
	margin-top: 10px;
	margin-left: 10px;
}

.bloque_img_logo_producto{
	padding-top: 6px;
	padding-bottom: 7px;
}

.info_prox{
	background: #007a98;
	margin-top: 2px;

}

.info_prox h1{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-left: 20px;
}


.bloque_img_logo_categoria img{
	margin-left: auto;
	margin-right: auto;
}

.col-info-categoria{
	padding-right: 0px;
	padding-left: 0px;
}

.datos_bloque_categoria span{
	margin-top: 15px;
	display: block;
	text-align: center;
	color: #000;
}

.datos_bloque_categoria h3{
	margin-top: 10px;
	text-align: center;
	color: #fff !important;
	font-weight: bolder;
}

.content_scene_cat{
	border-top: 0px;
}


.display_home_1{
	padding-top: 30px;
}

.columns-container{
	padding-top: 5px;
	background: transparent;
}


.leka-product-grid h2{
	width: 100%;
	background: #007a98;
	color: #fff;
	font-size: 20px;
	padding-left: 15px;
    line-height: 38px;
    font-weight: bold;
}

.flexgroupbanners-group{
	padding-left: 0px;
	padding-right: 0px;
}

.flexgroupbanners-row{
	padding-left: 0px;
	padding-right: 0px;
}

.texto_slide_equipos{
	font-size: 23px;
}

.sticky-wrapper.is-sticky .main-menu-wapper{
	margin-top: 0px !important;
}

.leka-product-grid .product{
	margin-top: 10px;
	background: #fff;
}

.btn_comprar_grid{
	color:#fff !important;
	background: #ed9228;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 8px;
    display: block;
    text-align: center;
}

.btn_comprar_grid:hover{
	color: #fff !important;
	background: rgba(237, 146, 40, 0.82) !important;
}

.leka-product-grid .product:nth-child(1n+1){
	background: #ebebeb;
}

.leka-product-grid .product:nth-child(2n+1){
	background: #fff;
}

.product_list .product:nth-child(1n+1){
	background: #ebebeb;
}

.product_list .product:nth-child(2n+1){
	background: #fff;
}

.products .product {
    margin-top: 14px;
}

.contenido_evento{
	padding-top: 10px;
	padding-bottom: 10px;
}

.hora_encuentro_lista_home{
	color: #ed9228;
	font-size: 16px;
	padding-left: 5px;
}

.nombre_torneo_lista_home{
	font-size: 16px;
	color: #333333;

}

.contenido_evento h5{
	color: #007a98;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
	margin-top: 2px;
}

.contenido_evento h5 a{
	color: #007a98;
}

.span_versus_lista_home{
	font-weight: bold;
	font-size: 16px;
	padding-left: 5px;
	padding-right: 1px;
}

.col-logo-home{
	z-index: 	9999;
}

.imgs_equipos{
	padding-right: 0px;
}

.imgs_equipos img{
	max-width: 44.5px;
}

.nombre_estadio_lista_home{
	font-size: 12px;
	margin-bottom: 0px;
	color:#ed9228;
	margin-top: 8px;
	line-height: 1em;
}

.localiz_estadio_lista_home{
	font-size: 12px;
	margin-bottom: 5px;
}

#center_column{
	padding-right: 10px !important;
}

#category #center_column{
	padding-right: 30px !important;
}

.related-products .contenido_evento .btn_comprar_grid{
	margin-right:  15px;
}

.related-products{
	padding-top: 20px;
}

.widget .widget-title{
	font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    line-height: 24px;
    padding: 6px 0;
    border-top: 0px solid #e9e9e9;
    border-bottom: 0px solid #e9e9e9;
    padding-left: 20px;
    font-weight: 700;
    margin-top: 2px;
    color: #fff !important;
}

#layered_price_range{
	font-family: 'Raleway';
}

.row-descripcion-producto{
	margin-top: 30px;
}

.row-descripcion-producto h2{
	background: #007a98;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding-left: 15px;
	line-height: 36px;
	width: 100%;
}

.pos-descripcion-producto{
	background: #ebebeb;
	padding: 30px;
	color: #444;
	font-size: 14px;
	line-height: 1.4em;
}

.ac_even img{
	display: none !important;
}

.ac_odd img{
	display: none !important;
}

/***** END 2- CONTENT HOME *****/

/*** 3- FOOTER ***/

.footer .widget-newaletter{
	background-color:  #006078 !important;
	padding: 0 0px !important;

}

.footer .widget-newaletter .newaletter-email{
	color: #c1c1c1;
	padding-left: 8px;
}

#newsletter_block span{
	padding-right: 10px;
}

#newsletter_block span i{
	color: #fff;
	font-size: 20px;
}

.btn-registrarse-news{
	background: #ed9228 !important;
	color: #fff !important;
	font-weight: bold;
	width: 100% ;
	text-align: center;
}

.footer .widget-newaletter .newaletter-button{
	color: #fff !important;
}


.contendor_news_home{
	margin-top: 80px;
	background: url('../../../img/Layer61.png');
	padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
}

.row_news_home h2{
	font-size: 36px;
	margin-bottom: 2px;
	color: #fff;
}

.advancefooter-block h2{
	font-size: 15px;
	color: #ed9228;
	font-weight: 700;
}

.advancefooter-block ul{
	padding-left: 0px;
}

.advancefooter-block p{
	color: #c1c1c1 !important;
	margin-top: 15px;
}

#block_10_2 li a{
	font-size: 14px;
}

#block_10_1 .item_wrapper img{
	shape-outside: polygon(233px 4px,15px 87px, 30px 10px, 40px 10px);
    float: left;
    transform: rotate(-19deg);
    margin-top: -77px;
    padding-bottom: 0px;
    padding-right: 23px;
    margin-right: 10px;
}

.footer-bottom{
	overflow: visible;
}

.footer{

}

.advancefooter-block ul li{
	line-height: 1.5em;
}

.advancefooter-block ul li a{
	font-size: 11px;
	color: #c1c1c1 !important;
}

.row_news_home h3{
	font-size: 18px;
	color: #fff;
}

.btn_registrate_news{
	float: right;
	display: block;
	width: 160px;
	text-align: center;
	line-height: 36px;
	color: #fff;
	background: #007a98;
	font-size: 22px;
	font-weight: bold;
	margin-top: 26px;
}

.btn_registrate_news:hover{
	color: #fff;
}


.footer{
	background:  url('../../../img/Layer 63.png');
	padding-top: 50px;

}

.slide_equipos .span_vs{
	color: #000;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.footer .list-block a,.footer .widget_nav_menu a{
	color: #c1c1c1 !important;
}

.footer .widget-title{
	color: #ed9228 !important;
}

#block_10_1 .item_wrapper{
	font-size: 14px;
	color: #c1c1c1 !important;
}
.datos_secudarios{
	margin-top: 15px;
	margin-bottom: 15px;
	line-height: 1.1em;
}


.contenedor-cantidad-total-combinacion{
	color: #ed9228;
}

.footer .widget:first-child img{
	shape-outside: polygon(233px 4px,15px 87px, 30px 10px, 40px 10px);
    float: left;
    transform: rotate(-19deg);
    margin-top: -77px;
    padding-bottom: 0px;
    padding-right: 23px;
    margin-right: 10px;

}
#page > header > div.top-header > div > div.top-header-right > ul > li:nth-child(3) > a.facebook-link-footer > i,#page > header > div.top-header > div > div.top-header-right > ul > li:nth-child(3) > a.twitter-link-footer > i{
	color: #fff !important;
	margin-right: 0px;
	padding: 2px 1px;
	font-size: 11px;

}


#page > header > div.top-header > div > div.top-header-right > ul > li:nth-child(3) > a.facebook-link-footer{
	margin-left: 50px;
	 padding: 3.5px 7px;

}


#page > header > div.top-header > div > div.top-header-right > ul > li:nth-child(3) > a.twitter-link-footer{
	padding: 3.5px 2px;
    padding-right: 0px;
    padding-left: 5px;
    padding-top: 3px;
    height: 25px;
    width: 25px;
}

#page > header > div.top-header > div > div.top-header-right > ul > li:nth-child(3) > a.twitter-link-footer > i{
	margin-right: 6px;
	padding: 2px 2px;
}
/*** FIN 3- FOOTER ***/


/**** 4- MODIFICACIONES PRODUCTO ****/

img.img-logo-layered{
	padding-left: 15px;
}

#attributes .attribute_list ul li{
	width: 100%;
}

.product-share{
	display: none;
}

.attribute_list li{
	margin-top: 10px;
}

.fila-combi-asiento{
	padding: 10px;
}

.attribute_list li:nth-child(1n+1){
	background: #ebebeb;
}

.attribute_list li:nth-child(2n+1){
	background: #fff;
}

.contenedor-select-combinacion{
	width: 64%;
	float: left;
}

.contenedor-cantidad-total-combinacion{
	width: 35%;
	float: left;
}

.product div.selector{
	margin-right: 2px;
	margin-left: 1px;
	max-width: 62px !important;
}

.nombre_combi{
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #007a98;
}

.descrip_combi{
	font-size: 12px;
}

.precio_combi{
	float: right;
	color: #007a98;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.col-btn-comprar-producto button{
	font-size: 12px;
    letter-spacing: 0px;
    padding: 5px 8px;
    background: #ed9228;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    border: none;
    color: #fff;

}

.product .single-images{
	margin-top: 30px; 
}

.nombre_competicion{
	text-align: center;
    color: #333;
    margin-bottom: 0px;
}

.datos_bloque_evento_producto h3{
	margin-top: 10px;
    text-align: center;
    color: #fff !important;
    font-weight: bolder;
    margin-bottom: 18px;
}

.bloque_img_logo_producto{
	padding-top: 7px;
	padding-bottom: 6px;
}

.span-copy{
	padding-left: 10px;
	color: #ebebeb;
	margin-bottom: 30px;
	margin-right: 10px;
}

.facebook-link-footer{
	padding: 9px 12px;
    background: #5667bd;
}

.facebook-link-footer i{
	color: #fff;
	font-size: 15px;
}

.twitter-link-footer{
	padding: 9px 9px;
    background: #5667bd;
	margin-left: 10px;
}

.twitter-link-footer i{
	color: #fff;
	font-size: 15px;
}

#block_12_2{
	margin-bottom: 30px;
}


.header.header-style2 .form-search{
	display: block !important;
    top: 35px !important;
    right: 0px !important;
    z-index: 1;
    width: 600px;
    float: right;
    position: relative;
}

.form-search input[type="text"]{
	width: 100%;
    left: initial;
    background: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 120px;
    position: absolute;
    letter-spacing: 1px;
}

.sticky-wrapper.is-sticky{
	display: none !important;
}

.search_block_top_form{
	width: 420px;
	position: absolute;
	right: 0px;	
}

.btn.btn-small.btn-dark.bt_compare.bt_compare{
	display: none;
}



.form-search form .btn-search:hover, .form-search form .btn-search:focus{
	color: #fff;
}

.search_block_top_form:before{
	 content: ' ';
    margin-left: -157px;
    margin-top: 7px;
    background: url(../img/lupa.png);
    width: 22px;
    height: 22px;
    position: absolute;

}

.form-search form .btn-search{
	background: #007a98 !important;
	color: #fff;
	font-weight: bold;
	 padding: 5px 22px;
}

.bloque_img_logo_producto .sub_contenedor{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
	text-align: center;
}

.fecha_evento_pagina_evento{
	color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.col-cantidad-producto{
	padding-right: 0px;
	padding-left: 0px;
}

.col-cantidad-producto{
	padding-top: 10px;
}

.row.maincontainer.item-detail-page{
	padding-top: 0px;

}
.img-seat{
	margin-left: -17px;
	margin-top: 12px;
}

.img-seat-2{
	margin-left: 0px;
}

.img-seat-mid{
	margin-left: -2px;
	margin-top: 12px;
}

.datos_estadio{
	margin-top: 10px;
    padding: 32px;
    min-width: 230px;
    background: rgba(255, 255, 255, 0.78);
    margin-left: -15px;
    float: left;
}

.nombre_estadio{
	color: #333;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 3px;
}

.span-asientos{
	margin-left: -22px;
	display: block;
}

.row-head-combis *{
	color: #eb9328;
}

.thumbs_list{
	display: none;
}

.row_slide_precios .ui-widget-header{
	background: #007a98 !important;
}

.row_slide_precios .ui-state-default, .row_slide_precios.ui-widget-content .ui-state-default,.row_slide_precios .ui-widget-header .ui-state-default{
	background: #f6a828 !important;
	border-radius: 50%;
	top: -.45em;
	border-color: #f6a828 !important;
}

#layer_cart{
	z-index: 99999;
}

.related-products .title-section{
	background: #ed9228;
	width:100%;
	margin-bottom: 0px !important;
	border-bottom: 0px;
}

.related-products .title-section h2{
	text-align: left;
	font-size: 20px !important;
	color: #fff !important;
	font-weight: 600 !important;
	text-transform: capitalize !important;
	padding-top: 5px;
	padding-bottom: 1px;
	padding-left: 19px;
}

.related-products .title-section h2:after{
	content: "";
	width: 0px;
}

.related-products .product-container{
	margin-bottom: 5px;
}

.related-products .product-container:nth-child(1n+1){
	background: #ebebeb;
}

.related-products .product-container:nth-child(2n+1){
	background: #fff;
}

.layered_price.widget{
	background: #fff !important;
	padding-bottom: 10px;
}

.layered_filter.widget{
	background: #fff !important;
}


.layered_subtitle_heading{
	background: #ed9228;
    color: #fff;
}

.blockhtml_CustomHtml6 .filtro{
	background: #fff;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.cabecera_filtro_home{
	background: #ed9228;
	color: #fff;
	font-size: 20px;
	line-height: 38px;
	font-weight: bold;
	text-align: center;

}

.input-form.fecha_desde_home,.input-form.fecha_hasta_home{
	padding-top: 3px;
    padding-bottom: 5px;
    background: #d6d6d6 !important;
    width: 100%;
    margin-bottom: 3px;
    padding-left: 10px;
    display: block;
    position: relative;
    line-height: 32px !important;
    height: 32px !important;
}

.blockhtml_CustomHtml6 .filtro form{
	padding-left: 45px;
	padding-right: 15px;
}

.blockhtml_CustomHtml6 .filtro form select{
    padding: 7px;
    padding-left: 10px;
    margin-bottom: 3px;
    background: #eee;
    border: none;
}

.layered_widget_fechadesde{
	margin-bottom: 5px !important;
}

.blockhtml_CustomHtml6 .filtro form span{
    color: #747474;
    font-size: 14px;	
}

.contenedor-fecha-desde-home:before,.contendor-fecha-hasta-home:before,.contenedor-select-pais-home:before,.contenedor-select-ciudad-home:before{
	content: ' ';
    margin-left: -31px;
    margin-top: 4px;
    background: url(../img/lupa.png);
    width: 22px;
    height: 22px;
    position: absolute;
	
}

.mini-cart .btn-check-out:hover, .mini-cart .btn-check-out:focus, .mini-cart .btn-view-cart:hover, .mini-cart .btn-view-cart:focus{
	background: #ed9228 !important;
}

.main-menu-top ul li.menu-item-has-children>a:after{
	display: none;
}

.home .owl-carousel .owl-item{
	border-bottom: 8px solid #ed9228;
}

.blockhtml_CustomHtml6 .filtro input[type='button']{
	display: block;
    background: #007a98;
    border: none;
    color: #fff;
    padding: 3px 19px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.row_slide_precios h6{
	color: #fff !important;
	font-weight: bold;
	background: #007a98 !important;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	padding-left: 10px;
}

.row_slide_precios .precio_minimo{
	float: left;
	padding-left: 10px;
}

.contenedor_slider_precio{
	padding-top: 26px;
    margin-top: 1px;
    padding-bottom: 42px;
    background: #ebebeb;
}

.precio_minimo{
	margin-top: 6px;
	margin-left: 6px;
	color: #333;
	font-weight: bold;
}

.precio_maximo{
	margin-top: 6px;
	margin-right: 6px;
	color: #333;
	font-weight: bold;
}

.row_slide_precios .precio_maximo{
	float: right;
	padding-right: 10px;
}

.agotado{
	font-size: 12px;
    letter-spacing: 0px;
    padding: 5px 8px;
    background: #e20000;
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
    border: none;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor: not-allowed;
}

.layered_slider_container{
	padding-left: 30px;
    padding-right: 30px;

}

.row_slide_precios .ui-slider .ui-slider-handle}{
	height: 0.8em;
	width: 0.8em;
}

.row_slide_precios .ui-slider-horizontal{
	height: 0.4em; 
}

.capacidad_estadio span{
	font-weight: normal;
}

.capacidad_estadio {
	color: #333;
	font-weight: bold;
	margin-bottom: 3px;
}

.row_slide_precios{
	padding-top: 20px;
}

.bloque_mapa{
	margin-top: -10px;
}

.col-info-categoria > div > img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#subcategories{
	display: none;
}

.row.info_prox:nth-child(1){
	display: none;
}

.datetime.fechahasta{
	padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    margin-top: 12px;
}

 #ul_layered_fechahasta_0 .datetime.fechahasta{
 	margin-top: 1px;
 }

.datetime.fechadesde{
	padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    margin-top: 12px;
}


.popup-add-to-cart .button-continue-shop{
	color: #303030 !important;
}

.related-products .imgs_equipos{
		padding-left: 35px;
}

/**** FIN 4- MODIFICACIONES PRODUCTO ****/

/**** 5- MODIFICACIONES CARRITO ****/


#cart_summary tbody td.cart_product{
	padding-top: 2px;
	padding-bottom: 2px;	
}

#orderopc #center_column{
	background: #fff;
}

#cart_summary>tfoot>tr>td{
	padding: 10px 10px !important;

}

#cart_summary a{
	color: #303030 !important;
} 

#orderopc .row.maincontainer{
	padding-bottom: 5px;
}

/**** FIN 5- MODIFICACIONES CARRITO ****/

.layered_subtitle_heading h2{

}




/***** ARREGLOS RESPONSIVE *********/

@media (max-width: 1200px){
	    
	    .header.header-style2 .logo{
			padding: 4px 0;
	    }

	    .index6 .main-header .main-menu-wapper{
	    	margin-top: 9px;
	    }

	    .toc_1 span, .toc_2 span, .toc_3 span, .toc_4 span, .toc_5 span{
	    	font-size: 11px;
	    }

	    .imgs_equipos img{
	    	height: auto;
	    	max-width: 32.5px;
	    }

	    .imgs_equipos{
	    	margin-top: 15px;
	    }

	    .img-seat{
	    	max-width: 16px;
	    }

	    .precio_combi{
	    	font-size: 15px;
	    }

	    .main-menu-wapper:after{
	    	display: none;
	    }

	    .main-menu-wapper:before{
	    	display: none;
	    }

	    .cart-search {
		    margin-top: 9px;
		    height: 41px;
		    background: #007a98;
		}

		.index6 .header.header-style2 .mini-cart{
			margin-top: -10px;
		}

		.icon-search{
			display: none;
		}
}

@media (min-width: 768px) and (max-width: 990px){
	.btn_comprar_grid{
		margin-top: 30px;
    	margin-left: -13px;
	}

	.imgs_equipos img{
		margin-left: auto;
   	 	margin-right: auto;
    	display: block;
	}

	.span_versus_lista_home{
		display: block;
    	text-align: center;
	}

	.imgs_equipos{
		margin-top: 0px;
	}

	.blockhtml_CustomHtml6 .filtro form{
		padding-left: 15px;

	}

	.owl-carousel .owl-item  figure img{
		max-height: 290px;
		min-height: 290px;
	}

	.toc_1 img,.toc_2 img,.toc_3 img,.toc_4 img,.toc_5 img{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}

	.toc_1 ,.toc_2 ,.toc_3 ,.toc_4 ,.toc_5 {
		text-align: center;
	}
}

@media (min-width: 487px) and (max-width: 990px){
	#nav_topmenu ul.nav > li{
		padding-right: 0px;
	}	

	.bloque_img_logo_producto{
		width: 	97%;
	}
		
	.bloque_img_logo_producto .sub_contenedor img{
		max-height: 74px;
		height: 	auto;
	}

	.datos_bloque_evento_producto .nombre_categoría{
		margin-top: 10px;
		font-size: 17px;
	}

	.datos_estadio{
		padding: 16.5px;
	}

	.content_scene_cat_bg{
		min-height: 264px;
	}

	.row-head-combis{
		display: 	none;
	}

	.bloque_img_logo_producto .sub_contenedor{
		text-align: center;
	}
}



@media (max-width: 486px){

	.imgs_equipos{
		text-align: center;
	}

	.contenido_evento h5{
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.main-menu-wapper:after{
		display: none;
	}

	.index6 .main-header .main-menu-wapper{
		height: 50px;
	}

	.header.header-style2 .form-search{
		display: none !important;
	}

	.cart-search {
		margin-top: -50px;
	}

	#nav_topmenu ul.nav > li  a{
		    color: #303030 !important;
	}

	.index6 .header #nav_topmenu #topmenu{
		left: 0px;
		top: 24px;
	}

	.mobile-navigation{
		color: #fff;
		border-color: #fff;
	}

	.footer {
	    padding-top: 65px!important;
	}

	#category #center_column{
		padding-right: 10px !important;
	}

	.bloque_img_logo_producto .sub_contenedor{
		
	}

	.product .content_scene_cat_bg{
		display: none;
	}

	.row-head-combis{
		display: none;
	}

	.product .related-products .product-container{
		padding-left: 10px;
		padding-right: 10px;
	}

	.col-btn-comprar-producto button{
		margin-right: auto;
	    margin-left: auto;
	    display: block;
	    float: none;
	    margin-top: 19px;
	}

	.agotado{
		    width: 85px;
	}

	.home .blockhtml_CustomHtml{
		display: none;
	}

	.bloque_img_logo_categoria, .bloque_img_logo_producto{
		width: 94%;
	}


	
}

