/* Grid Style */
.product .product-info .product-price.old-price {display: none;}
.product .product-info .price-percent-reduction {display: none;}
.product .product-info.hook-reviews {display: none;}
.product .product-thumb .product-button {z-index: 0;}
.product .product-thumb {z-index: 15;}
.product .product-info {z-index: 20;position: relative;}
/* List Style */
.products-list-view .product .product-button > a.quick-view {display: none;}
.products-list-view .product .product-thumb .product-button {display: none!important;}
.products-list-view .product .product-thumb .newbox,
.products-list-view .product .product-thumb .salebox {display: none;}
.products-list-view .product {margin-top: 0;}
.products-list-view .product:first-child {margin-top: 50px;}

.product .product-info .product-price.old-price {
    display: inline;
    color: #666;
}
