#enabled_filters {
  margin: 0 0 10px 0;
  background: #fafafa;
  padding: 5px;}

#enabled_filters .layered_subtitle {
  font-weight: bold;
  font-size: 12px; }

#enabled_filters ul li {
  padding: 2px 0; }

#enabled_filters li a {
  float: right;
  cursor: pointer; 
  color: #d6644a;
}
#layered_block_left div.checker span {display: none;}
#layered_form div.checker {display: none;}
#layered_form div.checker a {color: #d6644a;}
#layered_block_left .layered_close {
  float: right;
  padding-right: 5px; }

#layered_block_left span.layered_close a,
#layered_block_left span.layered_close a {
  display: block;
  height: 13px;
  width: 13px;
  text-decoration: none;
  text-indent: -5000px;
  background: url(img/icon/less.gif) no-repeat 2px 2px; }

#layered_block_left span.closed a {
  background: url(img/icon/more.gif) no-repeat 2px 2px; }

#layered_block_left .layered_subtitle {
  display: inline-block;
  font-weight: bold;
  font-size: 14px; }

#layered_block_left ul {}

#layered_block_left ul li { }

#layered_block_left ul li label {
  cursor: pointer; 
  margin: 0;
}

#layered_block_left ul { }

#layered_block_left ul li { }

#layered_block_left div > form > div > div { }

#layered_block_left #enabled_filters, #layered_url_filter_block {
  padding: 15px 15px;
  margin-bottom: 15px;
  margin-top: 0;
  border: 1px dotted #ededed; 
  border-width: 1px 0 1px 0;
}

#layered_block_left #enabled_filters ul li {
  margin-left: 0;
  padding-left: 0; }

/* Style moved form the template to the css  */
#layered_block_left #enabled_filters ul li:hover {
  background: inherit;
  color: inherit; }

#layered_block_left ul li input.checkbox {
  vertical-align: middle;
  margin-left: 2px; }

#layered_block_left ul li .disabled {
  color: #666; }

#layered_block_left .color-option {
  border: 1px solid #666666;
  height: 16px;
  margin-left: 0;
  padding: 0;
  width: 16px; }

#layered_block_left .color-option.disable {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5; }

#layered_block_left .nomargin a {
  display: inline;
  font-weight: normal; }

#layered_form .select {
  width: 165px; }

#layered_form .color-option {
    display: none;
  margin-left: 0;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 1px solid #666; 
  text-indent: -9999px;}

#layered_form .color-option.on {
  border: 1px solid red; }

#layered_form input[type=radio] {
  margin-left: 2px;
  vertical-align: middle; }

.layered_price_range {
  margin-left: 7px; }

.layered_price_range_unit {
  margin-right: 7px; }

.layered_slider_container {
  margin: 6px 0 6px 10px;
  width: 91%; }

.layered_slider {
  margin-top: 5px; }

.layered_input_range_min {
  width: 30px; }

.layered_input_range_max {
  width: 40px; }

.layered_list_selected {
  font-weight: bold; }

.layered_list {
  display: block;
  cursor: pointer; }

.layered_list:hover {
  font-weight: bold; }

.layered_ajax_loader p {
  margin: 20px 0;
  text-align: center; }

.hide-action {
  text-align: center;
  text-align: right;
  display: block;
  cursor: pointer; }

.hide-action:hover {
  font-weight: bold; }

#layered_form div div ul {
  /*max-height: 200px;*/
  overflow-x: visible; 
  margin-bottom: 0;
}

.layered_filter {
    clear: both;
    float: left;
    width: 100%;
}
.layered_filter label {}
.layered_price {
    float: left;
    width: 100%;
    clear: both;
    margin-bottom: 35px !important;
}

#layered_block_left ul li {
  min-width: 100%;
  width: auto; 
  padding: 0;}

/* @Smile Price */
div#layered_price_slider {
  background: #7e883a;
  border: none;
  border-radius: 0;
  height: 3px;
}
div#layered_price_slider .ui-slider-range.ui-widget-header.ui-corner-all {
  background: #747474;
}
div#layered_price_slider .ui-state-default, 
div#layered_price_slider .ui-widget-content .ui-state-default, 
div#layered_price_slider .ui-widget-header .ui-state-default {
    background: #7e883a;
    font-weight: normal;
    border-radius: 0px;
    width: 13px;
    height: 13px;
    border: 1px solid #7e883a;
    top: -5px;
}
div#layered_price_slider .ui-state-default:focus, div#layered_price_slider .ui-state-default:hover{
    background: #7e883a;
    outline: none;
    border: none;
}
div#layered_price_slider .ui-slider-horizontal .ui-slider-handle {
    top: -6px;
}
.layered_price li {
  border: none!important;
}
#layered_price_range {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
}
/*# sourceMappingURL=blocklayered.css.map */
