{if isset($categories) AND !empty($categories)}
<div id="category_blog_block_left" class="side-bar">
    <div class="heading">
        <h4 ><a href="{smartblog::GetSmartBlogLink('smartblog_list')}">{l s='Blog Categories' mod='smartblogcategories'}</a></h4>
    </div>
    <ul class="cate">
	{foreach from=$categories item="category"}
        {assign var="options" value=null}
        {$options.id_category = $category.id_smart_blog_category}
        {$options.slug = $category.link_rewrite}
            <li>
                <a href="{smartblog::GetSmartBlogLink('smartblog_category',$options)}">[{$category.count}] {$category.meta_title}</a>
            </li>
	{/foreach}
    </ul> 
</div>
{/if}